<p id="top">
  <span class="unit-tag unit-xxxlarge unit-blue">UNIT CSS</span>
</p>

<div class="unit-container unit-margin unit-light-grey unit-border">
  <h2>Colors</h2>
  <table class="unit-table">
    <tbody>
      <tr>
        <td class="unit-panel unit-red" style="width: 50%">
          <p>
            <a target="_blank">Red</a>
          </p>
        </td>
        <td class="unit-panel unit-pink">
          <p>
            <a target="_blank">Pink</a>
          </p>
        </td>
      </tr>
      <tr>
        <td class="unit-panel unit-purple" style="width: 50%">
          <p>
            <a target="_blank">Purple</a>
          </p>
        </td>
        <td class="unit-panel unit-deep-purple">
          <p>
            <a target="_blank">Deep Purple</a>
          </p>
        </td>
      </tr>
      <tr>
        <td class="unit-panel unit-indigo" style="width: 50%">
          <p>
            <a target="_blank">Indigo</a>
          </p>
        </td>
        <td class="unit-panel unit-blue">
          <p>
            <a target="_blank">Blue</a>
          </p>
        </td>
      </tr>
      <tr>
        <td class="unit-panel unit-light-blue">
          <p>
            <a target="_blank">Light Blue</a>
          </p>
        </td>
        <td class="unit-panel unit-cyan">
          <p>
            <a target="_blank">Cyan</a>
          </p>
        </td>
      </tr>
      <tr>
        <td class="unit-panel unit-aqua">
          <p>
            <a target="_blank">Aqua</a>
          </p>
        </td>
        <td class="unit-panel unit-teal">
          <p>
            <a target="_blank">Teal</a>
          </p>
        </td>
      </tr>
      <tr>
        <td class="unit-panel unit-green">
          <p>
            <a target="_blank">Green</a>
          </p>
        </td>
        <td class="unit-panel unit-light-green">
          <p>
            <a target="_blank">Light Green</a>
          </p>
        </td>
      </tr>
      <tr>
        <td class="unit-panel unit-lime">
          <p>
            <a target="_blank">Lime</a>
          </p>
        </td>
        <td class="unit-panel unit-sand">
          <p>
            <a target="_blank">Sand</a>
          </p>
        </td>
      </tr>
      <tr>
        <td class="unit-panel unit-khaki">
          <p>
            <a target="_blank">Khaki</a>
          </p>
        </td>
        <td class="unit-panel unit-yellow">
          <p>
            <a target="_blank">Yellow</a>
          </p>
        </td>
      </tr>
      <tr>
        <td class="unit-panel unit-amber">
          <p>
            <a target="_blank">Amber</a>
          </p>
        </td>
        <td class="unit-panel unit-orange">
          <p>
            <a target="_blank">Orange</a>
          </p>
        </td>
      </tr>
      <tr>
        <td class="unit-panel unit-deep-orange">
          <p>
            <a target="_blank">Deep Orange</a>
          </p>
        </td>
        <td class="unit-panel unit-blue-gray">
          <p>
            <a target="_blank">Blue Gray</a>
          </p>
        </td>
      </tr>
      <tr>
        <td class="unit-panel unit-brown">
          <p>
            <a target="_blank">Brown</a>
          </p>
        </td>
        <td class="unit-panel unit-light-gray">
          <p>
            <a target="_blank">Light Gray</a>
          </p>
        </td>
      </tr>
      <tr>
        <td class="unit-panel unit-gray">
          <p>
            <a target="_blank">Gray</a>
          </p>
        </td>
        <td class="unit-panel unit-dark-gray">
          <p>
            <a target="_blank">Dark Gray</a>
          </p>
        </td>
      </tr>
      <tr>
        <td class="unit-panel unit-pale-red">
          <p>
            <a target="_blank">Pale Red</a>
          </p>
        </td>
        <td class="unit-panel unit-pale-yellow">
          <p>
            <a target="_blank">Pale Yellow</a>
          </p>
        </td>
      </tr>
      <tr>
        <td class="unit-panel unit-pale-green">
          <p>
            <a target="_blank">Pale Green</a>
          </p>
        </td>
        <td class="unit-panel unit-pale-blue">
          <p>
            <a target="_blank">Pale-Blue</a>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>

@defer (on viewport) {
<div class="unit-container unit-margin unit-light-grey unit-border">
  <h2>Containers</h2>

  <div class="unit-container unit-teal unit-margin">
    <h5>Footer</h5>
    <p>Footer information goes here</p>
  </div>

  <div class="unit-container unit-brown unit-margin">
    <h2>London</h2>
    <p>
      London is the most populous city in the United Kingdom, with a
      metropolitan area of over 9 million inhabitants.
    </p>
    <hr />
  </div>

  <article class="unit-container unit-red unit-margin">
    <h2>Paris</h2>
    <p>
      The Paris area is one of the largest population centers in Europe, with
      more than 2 million inhabitants.
    </p>
    <hr />
  </article>

  <section class="unit-container unit-blue unit-margin">
    <h2>Tokyo</h2>
    <p>
      Tokyo is the center of the Greater Tokyo Area, and the most populous
      metropolitan area in the world.
    </p>
    <hr />
  </section>
</div>
} @placeholder {
<div>loading...</div>
} @defer (on viewport) {
<div class="unit-container unit-margin unit-light-grey unit-border">
  <h2>Panels</h2>

  <div class="unit-panel unit-pale-green">
    <p>
      London is the most populous city in the United Kingdom, with a
      metropolitan area of over 9 million inhabitants.
    </p>
  </div>
</div>
} @placeholder {
<div>loading...</div>
} @defer (on viewport) {
<div class="unit-container unit-margin unit-light-grey unit-border">
  <h2>Borders</h2>

  <div class="unit-panel unit-white unit-border unit-border-red">
    <p>I have borders.</p>
  </div>

  <div class="unit-panel unit-white unit-border-left unit-border-red">
    <p>I have only a left border.</p>
  </div>

  <div class="unit-panel unit-white unit-border-right unit-border-red">
    <p>I have only a right border.</p>
  </div>

  <div class="unit-panel unit-white unit-border-top unit-border-bottom unit-border-red">
    <p>I have top and bottom borders.</p>
  </div>
</div>
} @placeholder {
<div>loading...</div>
} @defer (on viewport) {
<div class="unit-container unit-margin unit-light-grey unit-border">
  <h2>Cards</h2>
  <div class="unit-panel">
    <div class="unit-card-4">
      <header class="unit-container unit-blue">
        <h1>Header</h1>
      </header>

      <div class="unit-container">
        <p>Lorem ipsum...</p>
      </div>

      <footer class="unit-container unit-blue">
        <h5>Footer</h5>
      </footer>
    </div>
  </div>
</div>
} @placeholder {
<div>loading...</div>
} @defer (on viewport) {
<div class="unit-container unit-margin unit-light-grey unit-border">
  <h2>Defaults</h2>
  <div class="unit-container">
    <h1>Heading 1 (36px)</h1>
    <h2>Heading 2 (30px)</h2>
    <h3>Heading 3 (24px)</h3>
    <h4>Heading 4 (20px)</h4>
    <h5>Heading 5 (18px)</h5>
    <h6>Heading 6 (16px)</h6>
  </div>
</div>
} @placeholder {
<div>loading...</div>
} @defer (on viewport) {
<div class="unit-container unit-margin unit-light-grey unit-border">
  <h2>Fonts</h2>
  <div class="unit-panel">
    <h2>Font-Size Classes</h2>

    <p class="unit-tiny">unit-tiny</p>
    <p class="unit-small">unit-small</p>
    <p class="unit-medium">unit-medium (Default)</p>
    <p class="unit-large">unit-large</p>
    <p class="unit-xlarge">unit-xlarge</p>
    <p class="unit-xxlarge">unit-xxlarge</p>
    <p class="unit-xxxlarge">unit-xxxlarge</p>
    <p class="unit-jumbo">unit-jumbo</p>
  </div>

  <div class="unit-container">
    <p class="unit-serif">
      Norway has a total area of 385,252 square kilometers and a population of
      5,438,657 (December 2020). Norway is bordered by Sweden, Finland and
      Russia to the north-east, and the Skagerrak to the south, with Denmark on
      the other side.
    </p>
    <p class="unit-sans-serif">
      Norway has a total area of 385,252 square kilometers and a population of
      5,438,657 (December 2020). Norway is bordered by Sweden, Finland and
      Russia to the north-east, and the Skagerrak to the south, with Denmark on
      the other side.
    </p>
    <p>
      Norway has a total area of 385,252 square kilometers and a population of
      5,438,657 (December 2020). Norway is bordered by Sweden, Finland and
      Russia to the north-east, and the Skagerrak to the south, with Denmark on
      the other side.
    </p>
  </div>
</div>
} @placeholder {
<div>loading...</div>
} @defer (on viewport) {
<div class="unit-container unit-margin unit-light-grey unit-border">
  <h2>Text</h2>
  <p>---</p>
</div>
} @placeholder {
<div>loading...</div>
} @defer (on viewport) {
<div class="unit-container unit-margin unit-light-grey unit-border">
  <h2>Round Classes</h2>
  <div class="unit-round unit-teal unit-margin unit-padding">unit-round</div>
</div>
} @placeholder {
<div>loading...</div>
} @defer (on viewport) {
<div class="unit-container unit-margin unit-light-grey unit-border">
  <h2>Padding</h2>
  <div class="unit-panel unit-orange unit-padding-16">
    <p>I have 16px top and bottom padding.</p>
  </div>
</div>
} @placeholder {
<div>loading...</div>
} @defer (on viewport) {
<div class="unit-container unit-margin unit-light-grey unit-border">
  <h2>Margins</h2>
  <div class="unit-container unit-green unit-margin">
    <p>I have 16px margin on all sides.</p>
  </div>
</div>
} @placeholder {
<div>loading...</div>
} @defer (on viewport) {
<div class="unit-container unit-margin unit-light-grey unit-border">
  <h2>Display</h2>
  <div class="unit-display-container unit-green" style="height: 300px">
    <div class="unit-display-topleft">Top Left</div>
    <div class="unit-display-topright">Top Right</div>
    <div class="unit-display-bottomleft">Bottom Left</div>
    <div class="unit-display-bottomright">Bottom Right</div>
    <div class="unit-display-left">Left</div>
    <div class="unit-display-right">Right</div>
    <div class="unit-display-middle">Middle</div>
    <div class="unit-display-topmiddle">Top Mid</div>
    <div class="unit-display-bottommiddle">Bottom Mid</div>
  </div>
</div>
} @placeholder {
<div>loading...</div>
} @defer (on viewport) {
<div class="unit-container unit-margin unit-light-grey unit-border">
  <h2>Buttons</h2>
  <div class="unit-panel">
    <button class="unit-button unit-red unit-hover-black">Black</button>
    <button class="unit-button unit-orange unit-hover-green">Red</button>
    <button class="unit-button unit-yellow unit-hover-purple">Purple</button>
  </div>

  <div class="unit-panel">
    <button class="unit-button unit-black unit-tiny">Tiny</button>
    <button class="unit-button unit-black unit-small">Small</button>
    <button class="unit-button unit-black unit-medium">Medium</button>
    <button class="unit-button unit-black unit-large">Large</button>
    <button class="unit-button unit-black unit-xlarge">xLarge</button>
    <button class="unit-button unit-black unit-xxlarge">XXLarge</button>
    <button class="unit-button unit-black unit-xxxlarge">XXXLarge</button>
    <button class="unit-button unit-black unit-jumbo">Jumbo</button>
  </div>

  <div class="unit-panel">
    <button class="unit-button unit-white unit-border">Button</button>
    <button class="unit-button unit-white unit-border unit-border-blue">Button</button>
    <button class="unit-button unit-yellow unit-border">Button</button>
    <button class="unit-button unit-white unit-border unit-border-red unit-round-large">
      Button
    </button>
  </div>

  <div class="unit-panel">
    <button class="unit-button unit-black unit-round">Round</button>
    <button class="unit-button unit-black unit-round-large">Rounder</button>
    <button class="unit-button unit-black unit-round-xlarge">and Rounder</button>
    <button class="unit-button unit-black unit-round-xxlarge">and Rounder</button>

    <button class="unit-btn unit-black unit-round">Round</button>
    <button class="unit-btn unit-black unit-round-large">Rounder</button>
    <button class="unit-btn unit-black unit-round-xlarge">and Rounder</button>
    <button class="unit-btn unit-black unit-round-xxlarge">and Rounder</button>
  </div>

  <div class="unit-panel">
    <button class="unit-button unit-red unit-padding-small">Button</button>
    <button class="unit-button unit-red">Button</button>
    <button class="unit-button unit-red unit-padding-large">Button</button>

    <button class="unit-btn unit-red unit-padding-small">Button</button>
    <button class="unit-btn unit-red">Button</button>
    <button class="unit-btn unit-red unit-padding-large">Button</button>
  </div>
</div>
} @placeholder {
<div>loading...</div>
} @defer (on viewport) {
<div class="unit-container unit-margin unit-light-grey unit-border">
  <h2>Notes</h2>
  <div class="unit-panel unit-pale-blue unit-leftbar unit-rightbar unit-border-blue">
    <p>
      London is the most populous city in the United Kingdom, with a
      metropolitan area of over 9 million inhabitants.
    </p>
  </div>
</div>
} @placeholder {
<div>loading...</div>
} @defer (on viewport) {
<div class="unit-container unit-margin unit-light-grey unit-border">
  <h2>Quotes</h2>

  <div class="unit-panel unit-leftbar unit-white">
    <p class="unit-xlarge unit-serif">
      <i>"Make it as simple as possible, but not simpler."</i>
    </p>
    <p>Albert Einstein</p>
  </div>
</div>
} @placeholder {
<div>loading...</div>
} @defer (on viewport) {
<div class="unit-container unit-margin unit-light-grey unit-border">
  <h2>Alerts</h2>
  <div class="unit-panel unit-yellow unit-border">
    <h3>Warning!</h3>
    <p>Yellow often indicates a warning that might need attention.</p>
  </div>
</div>
} @placeholder {
<div>loading...</div>
} @defer (on viewport) {
<div class="unit-container unit-margin unit-light-grey unit-border">
  <h2>Tables</h2>
  <div class="unit-panel">
    <table class="unit-table unit-white unit-striped unit-border">
      <tr class="unit-border-bottom">
        <th>First Name</th>
        <th>Last Name</th>
        <th>Points</th>
      </tr>
      <tr>
        <td>Jill</td>
        <td>Smith</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Eve</td>
        <td>Jackson</td>
        <td>94</td>
      </tr>
      <tr>
        <td>Adam</td>
        <td>Johnson</td>
        <td>67</td>
      </tr>
    </table>
  </div>
</div>
} @placeholder {
<div>loading...</div>
} @defer (on viewport) {
<div class="unit-container unit-margin unit-light-grey unit-border">
  <h2>Lists</h2>
  <ul class="unit-ul unit-margin unit-white">
    <li>Jill</li>
    <li>Eve</li>
    <li>Adam</li>
  </ul>

  <ul class="unit-ul unit-border unit-margin unit-white">
    <li><h2>Names</h2></li>
    <li>Jill</li>
    <li>Eve</li>
    <li>Adam</li>
  </ul>
</div>

<div class="unit-container unit-margin unit-light-grey unit-border">
  <h2>Images</h2>

  <img
    width="500"
    height="500"
    priority
    ngSrc="tree1.jpg"
    class="unit-round unit-border unit-margin"
    alt="oak tree"
  />
</div>

<div class="unit-container unit-margin unit-light-grey unit-border">
  <h2>Input</h2>

  <div class="unit-card-4 unit-margin">
    <div class="unit-container unit-green">
      <h2>Header</h2>
    </div>

    <form class="unit-container unit-padding">
      <label>First Name</label>
      <input class="unit-input" type="text" />

      <label>Last Name</label>
      <input class="unit-input" type="text" />
    </form>
  </div>
</div>

<div class="unit-container unit-margin unit-light-grey unit-border">
  <h2>Badges</h2>
  <div class="unit-panel">
    <p>News <span class="unit-badge unit-green">6</span></p>
    <p>Comments <span class="unit-badge unit-red">8</span></p>
  </div>

  <div class="unit-panel">
    <p>
      <button class="unit-btn unit-black">
        Button
        <span class="unit-badge unit-margin-left unit-white">1</span>
      </button>
    </p>

    <p>
      <button class="unit-btn unit-red">
        Button
        <span class="unit-badge unit-margin-left">2</span>
      </button>
    </p>
  </div>

  <div class="unit-panel">
    <ul class="unit-ul">
      <li><span class="unit-badge">1</span> Jill</li>
      <li><span class="unit-badge">2</span> Eve</li>
      <li><span class="unit-badge">3</span> Adam</li>
    </ul>
  </div>

  <div class="unit-panel">
    <ul class="unit-ul unit-border">
      <li>Jill <span class="unit-badge unit-right unit-margin-right">1</span></li>
      <li>Eve <span class="unit-badge unit-right unit-margin-right">2</span></li>
      <li>Adam <span class="unit-badge unit-right unit-margin-right">3</span></li>
    </ul>
  </div>

  <div class="unit-panel">
    <p>
      <span class="unit-badge unit-tiny unit-red">6</span>
      <span class="unit-badge unit-small unit-red">6</span>
      <span class="unit-badge unit-red">6</span>
    </p>
    <p>
      <span class="unit-badge unit-large unit-padding unit-red">66</span>
      <span class="unit-badge unit-xlarge unit-padding unit-red">66</span>
      <span class="unit-badge unit-xxlarge unit-padding unit-red">66</span>
    </p>
    <p>
      <span class="unit-badge unit-xxxlarge unit-padding unit-red">66</span>
      <span class="unit-badge unit-jumbo unit-padding unit-red">66</span>
    </p>
    <p></p>
  </div>

  <div class="unit-panel">
    <div class="unit-xxlarge">
      &#x2776; &#x2777; &#x2778; &#x2779; &#x277A; &#x2785; &#x2786; &#x2787;
      &#x2788; &#x2789;
    </div>

    <div class="unit-xxlarge unit-text-red">
      &#x2776; &#x2777; &#x2778; &#x2779; &#x277A; &#x2785; &#x2786; &#x2787;
      &#x2788; &#x2789;
    </div>
  </div>
</div>
} @placeholder {
<div>loading...</div>
} @defer (on viewport) {
<div class="unit-container unit-margin unit-light-grey unit-border">
  <h2>Tags (Labels and Signs)</h2>

  <div class="unit-panel">
    <p><span class="unit-tag unit-blue">New!</span></p>
    <p><span class="unit-tag unit-teal">More Later!</span></p>
    <p><span class="unit-tag unit--jumbo unit-blue">66</span></p>
    <p><span class="unit-tag unit--jumbo unit--blue unit-padding-large">66</span></p>
  </div>
</div>
} @placeholder {
<div>loading...</div>
} @defer (on viewport) {
<div class="unit-container unit-margin unit-light-grey unit-border">
  <h2>Icons</h2>
  <p>---</p>
</div>
} @placeholder {
<div>loading...</div>
} @defer (on viewport) {
<div class="unit-container unit-margin unit-light-grey unit-border">
  <h2>Responsive</h2>

  <div class="unit-panel">
    <div class="unit-row">
      <div class="unit-half unit-container unit-green">
        <h2>unit-half</h2>
      </div>
      <div class="unit-half unit-container unit-blue">
        <h2>unit-half</h2>
      </div>
    </div>
  </div>

  <div class="unit-panel">
    <div class="unit-row">
      <div class="unit-third unit-container unit-green">
        <h2>unit-third</h2>
      </div>
      <div class="unit-third unit-container unit-red">
        <h2>unit-third</h2>
      </div>
      <div class="unit-third unit-container unit-blue">
        <h2>unit-third</h2>
      </div>
    </div>
  </div>

  <div class="unit-panel">
    <div class="unit-row">
      <div class="unit-green unit-container unit-twothird">
        <h2>unit-twothird</h2>
      </div>
      <div class="unit-container unit-third unit-blue">
        <h2>unit-third</h2>
      </div>
    </div>
  </div>

  <div class="unit-panel">
    <div class="unit-row">
      <div class="unit-green unit-container unit-quarter">
        <h2>unit-quarter</h2>
      </div>
      <div class="unit-orange unit-container unit-quarter">
        <h2>unit-quarter</h2>
      </div>
      <div class="unit-green unit-container unit-quarter">
        <h2>unit-quarter</h2>
      </div>
      <div class="unit-orange unit-container unit-quarter">
        <h2>unit-quarter</h2>
      </div>
    </div>
  </div>

  <div class="unit-panel">
    <div class="unit-row">
      <div class="unit-green unit-container unit-threequarter">
        <h2>unit-threequarter</h2>
      </div>
      <div class="unit-red unit-container unit-quarter">
        <h2>unit-quarter</h2>
      </div>
    </div>
  </div>

  <div class="unit-panel">
    <div class="unit-row">
      <div class="unit-half unit-container unit-border">
        <h2>unit-half</h2>
        <div class="unit-row">
          <div class="unit-half unit-container unit-red">
            <h2>unit-half</h2>
            <p>This is a paragraph.</p>
          </div>
          <div class="unit-half unit-container unit-white">
            <h2>unit-half</h2>
            <p>This is a paragraph.</p>
          </div>
        </div>
      </div>
      <div class="unit-half unit-container unit-border">
        <h2>unit-half</h2>
        <div class="unit-row">
          <div class="unit-half unit-container unit-red">
            <h2>unit-half</h2>
            <p>This is a paragraph.</p>
          </div>
          <div class="unit-half unit-container unit-white">
            <h2>unit-half</h2>
            <p>This is a paragraph.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="unit-panel">
    <div class="unit-row">
      <div class="unit-col" style="width: 150px"><p>I am 150px</p></div>
      <div class="unit-rest unit-green"><p>I am the rest</p></div>
    </div>
  </div>

  <div class="unit-panel">
    <div class="unit-row">
      <div class="unit-col" style="width: 20%"><p>20%</p></div>
      <div class="unit-col" style="width: 60%"><p>60%</p></div>
      <div class="unit-col" style="width: 20%"><p>20%</p></div>
    </div>
  </div>

  <div class="unit-panel">
    <div class="unit-container">
      <h3>Difference between unit-row and unit-row-padding</h3>
      <p>The unit-row class defines a padded-less container:</p>
    </div>

    <div class="unit-row">
      <div class="unit-third">
        <img priority ngSrc="tree1.jpg" width="500" height="500" />
      </div>
      <div class="unit-third">
        <img priority ngSrc="tree2.jpg" width="500" height="500" />
      </div>
      <div class="unit-third">
        <img priority ngSrc="tree3.jpg" width="500" height="500" />
      </div>
    </div>

    <div class="unit-container">
      <p>
        The unit-row-padding class adds a 8px left and right padding to each
        column:
      </p>
    </div>

    <div class="unit-row-padding">
      <div class="unit-third">
        <img priority ngSrc="tree1.jpg" width="500" height="500" />
      </div>
      <div class="unit-third">
        <img priority ngSrc="tree2.jpg" width="500" height="500" />
      </div>
      <div class="unit-third">
        <img priority ngSrc="tree3.jpg" width="500" height="500" />
      </div>
    </div>
  </div>
</div>
} @placeholder {
<div>loading...</div>
} @defer (on viewport) {
<div class="unit-container unit-margin unit-light-grey unit-border">
  <h2>Layout</h2>

  <div class="unit-panel">
    <div class="unit-container unit-red unit-cell">
      <p>Hello W3.CSS Layout.</p>
      <p>Hello W3.CSS Layout.</p>
      <p>Hello W3.CSS Layout.</p>
      <p>Hello W3.CSS Layout.</p>
    </div>

    <div class="unit-container unit-green unit-cell unit-cell-middle">
      <p>Hello W3.CSS Layout.</p>
    </div>

    <div class="unit-container unit-blue unit-cell unit-cell-bottom">
      <p>Hello W3.CSS Layout.</p>
    </div>
  </div>
</div>
} @placeholder {
<div>loading...</div>
} @defer (on viewport) {
<div class="unit-container unit-margin unit-light-grey unit-border">
  <h2>Animations</h2>

  <div class="unit-panel">
    <div class="unit-container">
      <h1>Spinning Elements</h1>
      <p>Use the unit-spin class to spin an element 360 degrees:</p>
      <p><i class="fa fa-spinner unit-spin" style="font-size: 64px"></i></p>
    </div>
  </div>

  <div class="unit-panel">
    <div class="unit-container">
      <h2>Animate Fade In and Out</h2>
      <p>
        The unit-animate-fading class fades in and out elements every 10 seconds
        (continuously).
      </p>
      <img
        class="unit-animate-fading"
        priority
        ngSrc="tree2.jpg"
        width="500"
        height="500"
      />
    </div>
  </div>

  <div class="unit-panel">
    <div class="unit-container unit-center unit-animate-top unit-white unit-border">
      <h1>Animation is Fun!</h1>
      <p>The unit-animate-top class slides in an element from the top.</p>
    </div>
    <div class="unit-container unit-center unit-animate-bottom unit-white unit-border">
      <h1>Animation is Fun!</h1>
      <p>The unit-animate-top class slides in an element from the top.</p>
    </div>
    <div class="unit-container unit-center unit-animate-left unit-white unit-border">
      <h1>Animation is Fun!</h1>
      <p>The unit-animate-top class slides in an element from the top.</p>
    </div>
    <div class="unit-container unit-center unit-animate-right unit-white unit-border">
      <h1>Animation is Fun!</h1>
      <p>The unit-animate-top class slides in an element from the top.</p>
    </div>
    <div class="unit-container unit-center unit-animate-opacity unit-white unit-border">
      <h1>Animation is Fun!</h1>
      <p>The unit-animate-top class slides in an element from the top.</p>
    </div>
    <div class="unit-container unit-center unit-animate-zoom unit-white unit-border">
      <h1>Animation is Fun!</h1>
      <p>The unit-animate-top class slides in an element from the top.</p>
    </div>
    <div class="unit-container unit-center unit-animate-fading unit-white unit-border">
      <h1>Animation is Fun!</h1>
      <p>The unit-animate-top class slides in an element from the top.</p>
    </div>
  </div>
</div>
} @placeholder {
<div>loading...</div>
} @defer (on viewport) {
<div class="unit-container unit-margin unit-light-grey unit-border">
  <h2>Effects</h2>
  <div class="unit-panel">
    <div class="unit-third">
      <img
        priority
        ngSrc="tree1.jpg"
        class="unit-grayscale-min"
        width="500"
        height="500"
      />
    </div>
    <div class="unit-third">
      <img
        priority
        ngSrc="tree2.jpg"
        class="unit-grayscale"
        width="500"
        height="500"
      />
    </div>
    <div class="unit-third">
      <img
        priority
        ngSrc="tree3.jpg"
        class="unit-grayscale-max"
        width="500"
        height="500"
      />
    </div>
  </div>
  <div class="unit-panel">
    <div class="unit-third">
      <img
        priority
        ngSrc="tree1.jpg"
        class="unit-sepia-min"
        width="500"
        height="500"
      />
    </div>
    <div class="unit-third">
      <img
        priority
        ngSrc="tree2.jpg"
        class="unit-sepia"
        width="500"
        height="500"
      />
    </div>
    <div class="unit-third">
      <img
        priority
        ngSrc="tree3.jpg"
        class="unit-sepia-max"
        width="500"
        height="500"
      />
    </div>
  </div>
  <div class="unit-panel">
    <div class="unit-third">
      <img
        priority
        ngSrc="tree1.jpg"
        class="unit-hover-opacity"
        width="500"
        height="500"
      />
    </div>
    <div class="unit-third">
      <img
        priority
        ngSrc="tree2.jpg"
        class="unit-hover-grayscale"
        width="500"
        height="500"
      />
    </div>
    <div class="unit-third">
      <img
        priority
        ngSrc="tree3.jpg"
        class="unit-hover-sepia"
        width="500"
        height="500"
      />
    </div>
  </div>
  <div class="unit-panel">
    <div class="unit-container">
      <h2>Hover Effects</h2>
      <p>
        You can also combine unit-hover-color classes with unit-hover-opacity to
        create a slightly "lighter" background-color.
      </p>

      <div class="unit-panel unit-border unit-hover-red unit-padding">
        <p>unit-hover-red</p>
      </div>

      <div class="unit-panel unit-border unit-hover-opacity unit-hover-red unit-padding">
        <p>unit-hover-red with unit-hover-opacity</p>
      </div>
    </div>
  </div>
</div>
} @placeholder {
<div>loading...</div>
} @defer (on viewport) {
<div class="unit-container unit-margin unit-light-grey unit-border">
  <h2>Bars</h2>
  <div class="unit-panel">
    <div class="unit-bar unit-green">
      <div class="unit-bar-item">London</div>
      <div class="unit-bar-item">Paris</div>
      <div class="unit-bar-item">Tokyo</div>
    </div>
  </div>
  <div class="unit-panel">
    <div class="unit-bar-block unit-green">
      <div class="unit-bar-item">London</div>
      <div class="unit-bar-item">Paris</div>
      <div class="unit-bar-item">Tokyo</div>
    </div>
  </div>
</div>
} @placeholder {
<div>loading...</div>
} @defer (on viewport) {
<div class="unit-container unit-margin unit-light-grey unit-border">
  <h2>Dropdowns</h2>
  <div class="unit-panel">
    <div class="unit-dropdown-hover">
      <div class="unit-container unit-white unit-border">
        <h2>Dropdown Button</h2>
        <p>Move the mouse over the button to open the dropdown content.</p>
        <div class="unit-dropdown-hover">
          <button class="unit-button unit-black">Hover Over Me!</button>
          <div class="unit-dropdown-content unit-bar-block unit-border">
            <a href="#" class="unit-bar-item unit-button">Link 1</a>
            <a href="#" class="unit-bar-item unit-button">Link 2</a>
            <a href="#" class="unit-bar-item unit-button">Link 3</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="unit-panel">
    <div class="unit-container">
      <h2>Card Dropdowns</h2>
      <p>Move the mouse over "London" or "Tokyo":</p>

      <div class="unit-dropdown-hover">
        London
        <div class="unit-dropdown-content unit-card-4" style="width: 250px">
          <img src="tree2.jpg" alt="London" style="width: 100%" />
          <div class="unit-container">
            <p>London is the capital city of England.</p>
            <p>It is the most populous city in the UK.</p>
          </div>
        </div>
      </div>

      <div class="unit-dropdown-hover">
        Tokyo
        <div class="unit-dropdown-content unit-card-4" style="width: 250px">
          <img src="tree2.jpg" alt="Tokyo" style="width: 100%" />
          <div class="unit-container">
            <p>Tokyo is the capital city of Japan.</p>
            <p>13 million inhabitants.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
} @placeholder {
<div>loading...</div>
} @defer (on viewport) {
<div class="unit-container unit-margin unit-light-grey unit-border">
  <h2>Navigation Bars</h2>
  <div class="unit-panel">
    <div class="unit-bar unit-black">
      <a href="#" class="unit-bar-item unit-button">Home</a>
      <a href="#" class="unit-bar-item unit-button">Link 1</a>
      <a href="#" class="unit-bar-item unit-button">Link 2</a>
      <a href="#" class="unit-bar-item unit-button">Link 3</a>
    </div>
  </div>

  <div class="unit-panel">
    <div class="unit-bar unit-border unit-light-grey">
      <a href="#" class="unit-bar-item unit-button unit-green">Home</a>
      <a href="#" class="unit-bar-item unit-button">Link 1</a>
      <a href="#" class="unit-bar-item unit-button">Link 2</a>
      <a href="#" class="unit-bar-item unit-button">Link 3</a>
    </div>
  </div>

  <div class="unit-panel">
    <div class="unit-bar unit-border unit-light-grey">
      <a href="#" class="unit-bar-item unit-button unit-border-right">Home</a>
      <a href="#" class="unit-bar-item unit-button unit-border-right">Link 1</a>
      <a href="#" class="unit-bar-item unit-button unit-border-right">Link 2</a>
      <a href="#" class="unit-bar-item unit-button unit-border-right">Link 3</a>
    </div>
  </div>

  <div class="unit-panel">
    <p>unit-xxlarge:</p>
    <div class="unit-bar unit-border unit-green unit-xxlarge">
      <a href="#" class="unit-bar-item unit-button">Home</a>
      <a href="#" class="unit-bar-item unit-button">Link 1</a>
      <a href="#" class="unit-bar-item unit-button">Link 2</a>
      <a href="#" class="unit-bar-item unit-button">Link 3</a>
    </div>
  </div>

  <div class="unit-panel">
    <div class="unit-bar unit-dark-grey">
      <a
        href="#"
        class="unit-bar-item unit-button unit-mobile unit-green"
        style="width: 33%"
        >Home</a
      >
      <a href="#" class="unit-bar-item unit-button unit-mobile" style="width: 33%"
        >Link 1</a
      >
      <a href="#" class="unit-bar-item unit-button unit-mobile" style="width: 33%"
        >Link 2</a
      >
    </div>
  </div>

  <div class="unit-panel">
    <div class="unit-bar unit-light-grey unit-border">
      <a href="#" class="unit-bar-item unit-button unit-green"
        ><i class="fa fa-home"></i
      ></a>
      <a href="#" class="unit-bar-item unit-button"><i class="fa fa-search"></i></a>
      <a href="#" class="unit-bar-item unit-button"
        ><i class="fa fa-envelope"></i
      ></a>
      <a href="#" class="unit-bar-item unit-button"><i class="fa fa-globe"></i></a>
      <a href="#" class="unit-bar-item unit-button"
        ><i class="fa fa-sign-in"></i
      ></a>
    </div>
  </div>

  <div class="unit-panel">
    <div class="unit-bar unit-white unit-border">
      <a href="#" class="unit-bar-item unit-button">Home</a>
      <a href="#" class="unit-bar-item unit-button">Link 1</a>
      <div class="unit-dropdown-hover">
        <button class="unit-button">Dropdown</button>
        <div class="unit-dropdown-content unit-bar-block unit-card-4">
          <a href="#" class="unit-bar-item unit-button">Link 1</a>
          <a href="#" class="unit-bar-item unit-button">Link 2</a>
          <a href="#" class="unit-bar-item unit-button">Link 3</a>
        </div>
      </div>
    </div>
  </div>
</div>
} @placeholder {
<div>loading...</div>
} @defer (on viewport) {
<div class="unit-container unit-margin unit-light-grey unit-border">
  <h2>Pagination</h2>

  <div class="unit-panel">
    <div class="unit-bar">
      <a href="#" class="unit-button">1</a>
      <a href="#" class="unit-button">2</a>
      <a href="#" class="unit-button">3</a>
      <a href="#" class="unit-button">4</a>
      <a href="#" class="unit-button">5</a>
    </div>
    <div class="unit-bar">
      <a href="#" class="unit-button">&laquo;</a>
      <a href="#" class="unit-button">1</a>
      <a href="#" class="unit-button">2</a>
      <a href="#" class="unit-button">3</a>
      <a href="#" class="unit-button">4</a>
      <a href="#" class="unit-button">&raquo;</a>
    </div>
    <div class="unit-bar">
      <a href="#" class="unit-button">&laquo;</a>
      <a href="#" class="unit-button unit-green">1</a>
      <a href="#" class="unit-button">2</a>
      <a href="#" class="unit-button">3</a>
      <a href="#" class="unit-button">4</a>
      <a href="#" class="unit-button">&raquo;</a>
    </div>
    <div class="unit-bar">
      <a href="#" class="unit-button unit-hover-purple">&laquo;</a>
      <a href="#" class="unit-button unit-hover-green">1</a>
      <a href="#" class="unit-button unit-hover-red">2</a>
      <a href="#" class="unit-button unit-hover-blue">3</a>
      <a href="#" class="unit-button unit-hover-black">4</a>
      <a href="#" class="unit-button unit-hover-orange">&raquo;</a>
    </div>
    <div class="unit-bar unit-xlarge">
      <a href="#" class="unit-button">&laquo;</a>
      <a href="#" class="unit-button">1</a>
      <a href="#" class="unit-button">2</a>
      <a href="#" class="unit-button">3</a>
      <a href="#" class="unit-button">4</a>
      <a href="#" class="unit-button">&raquo;</a>
    </div>

    <div class="unit-bar unit-border">
      <a href="#" class="unit-bar-item unit-button">&laquo;</a>
      <a href="#" class="unit-bar-item unit-button">1</a>
      <a href="#" class="unit-bar-item unit-button">2</a>
      <a href="#" class="unit-bar-item unit-button">3</a>
      <a href="#" class="unit-bar-item unit-button">4</a>
      <a href="#" class="unit-bar-item unit-button">&raquo;</a>
    </div>
    
    <div class="unit-bar unit-border unit-round">
      <a href="#" class="unit-bar-item unit-button">&laquo;</a>
      <a href="#" class="unit-bar-item unit-button">1</a>
      <a href="#" class="unit-bar-item unit-button">2</a>
      <a href="#" class="unit-bar-item unit-button">3</a>
      <a href="#" class="unit-bar-item unit-button">4</a>
      <a href="#" class="unit-bar-item unit-button">&raquo;</a>
    </div>

    <div class="unit-bar unit-border unit-round">
      <a href="#" class="unit-button">&#10094; Previous</a>
      <a href="#" class="unit-button unit-right">Next &#10095;</a>
    </div>
    <br>  
    <div class="unit-bar unit-border">
      <a href="#" class="unit-button unit-border-right">&#10094;</a>
      <a href="#" class="unit-button unit-border-left unit-right">&#10095;</a>
    </div>

  </div>
</div>
} @placeholder {
<div>loading...</div>
} @defer (on viewport) {
<div class="unit-container unit-margin unit-light-grey unit-border">
  <h2>Progress Bars</h2>
  <div class="unit-pane unit-white">
    <div class="unit-light-grey">
      <div class="unit-grey" style="height:24px;width:25%"></div>
    </div><br>
    
    <div class="unit-light-grey">
      <div class="unit-grey" style="height:24px;width:50%"></div>
    </div><br>
    
    <div class="unit-light-grey">
      <div class="unit-grey" style="height:24px;width:75%"></div>
    </div>

    <div class="unit-light-grey">
      <div class="unit-container unit-green unit-center" style="width:25%">25%</div>
    </div><br>
    
    <div class="unit-light-grey">
      <div class="unit-container unit-red unit-center" style="width:50%">50%</div>
    </div><br>
    
    <div class="unit-light-grey">
      <div class="unit-container unit-blue" style="width:75%">75%</div>
    </div><br>

    <p>unit-tiny:</p>
    <div class="unit-light-grey unit-tiny">
      <div class="unit-container unit-green" style="width:50%">50%</div>
    </div>
  
    <p>unit-small:</p>
    <div class="unit-light-grey unit-small">
      <div class="unit-container unit-green" style="width:50%">50%</div>
    </div>
  
    <p>Default:</p>
    <div class="unit-light-grey">
      <div class="unit-container unit-green" style="width:50%">50%</div>
    </div>
  
    <p>unit-large:</p>
    <div class="unit-light-grey unit-large">
      <div class="unit-container unit-green" style="width:50%">50%</div>
    </div>
  
    <p>unit-xlarge:</p>
    <div class="unit-light-grey unit-xlarge">
      <div class="unit-container unit-green" style="width:50%">50%</div>
    </div>
    
    <p>unit-xxlarge:</p>
    <div class="unit-light-grey unit-xxlarge">
      <div class="unit-container unit-green" style="width:50%">50%</div>
    </div>
  </div>
</div>
} @placeholder {
<div>loading...</div>
} @defer (on viewport) {
<div class="unit-container unit-margin unit-light-grey unit-border">
  <h2>Tooltips</h2>
  <p>---</p>
</div>
} @placeholder {
<div>loading...</div>
} @defer (on viewport) {
<div class="unit-container unit-margin unit-light-grey unit-border">
  <h2>Responsive Fluid Grid</h2>
  <p>---</p>
</div>
} @placeholder {
<div>loading...</div>
} @defer (on viewport) {
<div class="unit-container unit-margin unit-light-grey unit-border">
  <h2>Code</h2>
  <p>---</p>
</div>
} @placeholder {
<div>loading...</div>
}

<a class="unit-button unit-black unit-right" href="#top">top</a>
