.unit-bar {
    width: 100%;
    overflow: hidden;
}
.unit-center .unit-bar {
    display: inline-block;
    width: auto;
}

.unit-bar .unit-bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}

.unit-bar .unit-dropdown-hover,
.unit-bar .unit-dropdown-click {
    position: static;
    float: left;
}

.unit-bar .unit-button {
    white-space: normal;
}

.unit-bar-block .unit-bar-item {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
}

.unit-bar-block.unit-center .unit-bar-item {
    text-align: center;
}
.unit-block {
    display: block;
    width: 100%;
}
