.em-btn,
.em-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.em-btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.em-btn,
.em-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.em-disabled,
.em-btn:disabled,
.em-button:disabled {
    cursor: not-allowed;
    opacity: 0.3;
}
.em-disabled *,
:disabled * {
    pointer-events: none;
}

.em-btn.em-disabled:hover,
.em-btn:disabled:hover {
    box-shadow: none;
}
