.em-amber,
.em-hover-amber:hover {
    color: #000 !important;
    background-color: #ffc107 !important;
}

.em-aqua,
.em-hover-aqua:hover {
    color: #000 !important;
    background-color: #00ffff !important;
}

.em-blue,
.em-hover-blue:hover {
    color: #fff !important;
    background-color: #2196f3 !important;
}

.em-light-blue,
.em-hover-light-blue:hover {
    color: #000 !important;
    background-color: #87ceeb !important;
}

.em-brown,
.em-hover-brown:hover {
    color: #fff !important;
    background-color: #795548 !important;
}

.em-cyan,
.em-hover-cyan:hover {
    color: #000 !important;
    background-color: #00bcd4 !important;
}

.em-blue-grey,
.em-hover-blue-grey:hover,
.em-blue-gray,
.em-hover-blue-gray:hover {
    color: #fff !important;
    background-color: #607d8b !important;
}

.em-green,
.em-hover-green:hover {
    color: #fff !important;
    background-color: #4caf50 !important;
}

.em-light-green,
.em-hover-light-green:hover {
    color: #000 !important;
    background-color: #8bc34a !important;
}

.em-indigo,
.em-hover-indigo:hover {
    color: #fff !important;
    background-color: #3f51b5 !important;
}

.em-khaki,
.em-hover-khaki:hover {
    color: #000 !important;
    background-color: #f0e68c !important;
}

.em-lime,
.em-hover-lime:hover {
    color: #000 !important;
    background-color: #cddc39 !important;
}

.em-orange,
.em-hover-orange:hover {
    color: #000 !important;
    background-color: #ff9800 !important;
}

.em-deep-orange,
.em-hover-deep-orange:hover {
    color: #fff !important;
    background-color: #ff5722 !important;
}

.em-pink,
.em-hover-pink:hover {
    color: #fff !important;
    background-color: #e91e63 !important;
}

.em-purple,
.em-hover-purple:hover {
    color: #fff !important;
    background-color: #9c27b0 !important;
}

.em-deep-purple,
.em-hover-deep-purple:hover {
    color: #fff !important;
    background-color: #673ab7 !important;
}

.em-red,
.em-hover-red:hover {
    color: #fff !important;
    background-color: #f44336 !important;
}

.em-sand,
.em-hover-sand:hover {
    color: #000 !important;
    background-color: #fdf5e6 !important;
}

.em-teal,
.em-hover-teal:hover {
    color: #fff !important;
    background-color: #009688 !important;
}

.em-yellow,
.em-hover-yellow:hover {
    color: #000 !important;
    background-color: #ffeb3b !important;
}

.em-white,
.em-hover-white:hover {
    color: #000 !important;
    background-color: #fff !important;
}

.em-black,
.em-hover-black:hover {
    color: #fff !important;
    background-color: #000 !important;
}

.em-grey,
.em-hover-grey:hover,
.em-gray,
.em-hover-gray:hover {
    color: #000 !important;
    background-color: #9e9e9e !important;
}

.em-light-grey,
.em-hover-light-grey:hover,
.em-light-gray,
.em-hover-light-gray:hover {
    color: #000 !important;
    background-color: #f1f1f1 !important;
}

.em-dark-grey,
.em-hover-dark-grey:hover,
.em-dark-gray,
.em-hover-dark-gray:hover {
    color: #fff !important;
    background-color: #616161 !important;
}

.em-pale-red,
.em-hover-pale-red:hover {
    color: #000 !important;
    background-color: #ffdddd !important;
}

.em-pale-green,
.em-hover-pale-green:hover {
    color: #000 !important;
    background-color: #ddffdd !important;
}

.em-pale-yellow,
.em-hover-pale-yellow:hover {
    color: #000 !important;
    background-color: #ffffcc !important;
}

.em-pale-blue,
.em-hover-pale-blue:hover {
    color: #000 !important;
    background-color: #ddffff !important;
}

.em-text-amber,
.em-hover-text-amber:hover {
    color: #ffc107 !important;
}

.em-text-aqua,
.em-hover-text-aqua:hover {
    color: #00ffff !important;
}

.em-text-blue,
.em-hover-text-blue:hover {
    color: #2196f3 !important;
}

.em-text-light-blue,
.em-hover-text-light-blue:hover {
    color: #87ceeb !important;
}

.em-text-brown,
.em-hover-text-brown:hover {
    color: #795548 !important;
}

.em-text-cyan,
.em-hover-text-cyan:hover {
    color: #00bcd4 !important;
}

.em-text-blue-grey,
.em-hover-text-blue-grey:hover,
.em-text-blue-gray,
.em-hover-text-blue-gray:hover {
    color: #607d8b !important;
}

.em-text-green,
.em-hover-text-green:hover {
    color: #4caf50 !important;
}

.em-text-light-green,
.em-hover-text-light-green:hover {
    color: #8bc34a !important;
}

.em-text-indigo,
.em-hover-text-indigo:hover {
    color: #3f51b5 !important;
}

.em-text-khaki,
.em-hover-text-khaki:hover {
    color: #b4aa50 !important;
}
.em-text-lime,
.em-hover-text-lime:hover {
    color: #cddc39 !important;
}
.em-text-orange,
.em-hover-text-orange:hover {
    color: #ff9800 !important;
}
.em-text-deep-orange,
.em-hover-text-deep-orange:hover {
    color: #ff5722 !important;
}
.em-text-pink,
.em-hover-text-pink:hover {
    color: #e91e63 !important;
}
.em-text-purple,
.em-hover-text-purple:hover {
    color: #9c27b0 !important;
}
.em-text-deep-purple,
.em-hover-text-deep-purple:hover {
    color: #673ab7 !important;
}
.em-text-red,
.em-hover-text-red:hover {
    color: #f44336 !important;
}
.em-text-sand,
.em-hover-text-sand:hover {
    color: #fdf5e6 !important;
}
.em-text-teal,
.em-hover-text-teal:hover {
    color: #009688 !important;
}
.em-text-yellow,
.em-hover-text-yellow:hover {
    color: #d2be0e !important;
}
.em-text-white,
.em-hover-text-white:hover {
    color: #fff !important;
}
.em-text-black,
.em-hover-text-black:hover {
    color: #000 !important;
}
.em-text-grey,
.em-hover-text-grey:hover,
.em-text-gray,
.em-hover-text-gray:hover {
    color: #757575 !important;
}
.em-text-light-grey,
.em-hover-text-light-grey:hover,
.em-text-light-gray,
.em-hover-text-light-gray:hover {
    color: #f1f1f1 !important;
}
.em-text-dark-grey,
.em-hover-text-dark-grey:hover,
.em-text-dark-gray,
.em-hover-text-dark-gray:hover {
    color: #3a3a3a !important;
}
.em-border-amber,
.em-hover-border-amber:hover {
    border-color: #ffc107 !important;
}
.em-border-aqua,
.em-hover-border-aqua:hover {
    border-color: #00ffff !important;
}
.em-border-blue,
.em-hover-border-blue:hover {
    border-color: #2196f3 !important;
}
.em-border-light-blue,
.em-hover-border-light-blue:hover {
    border-color: #87ceeb !important;
}
.em-border-brown,
.em-hover-border-brown:hover {
    border-color: #795548 !important;
}
.em-border-cyan,
.em-hover-border-cyan:hover {
    border-color: #00bcd4 !important;
}
.em-border-blue-grey,
.em-hover-border-blue-grey:hover,
.em-border-blue-gray,
.em-hover-border-blue-gray:hover {
    border-color: #607d8b !important;
}
.em-border-green,
.em-hover-border-green:hover {
    border-color: #4caf50 !important;
}
.em-border-light-green,
.em-hover-border-light-green:hover {
    border-color: #8bc34a !important;
}
.em-border-indigo,
.em-hover-border-indigo:hover {
    border-color: #3f51b5 !important;
}
.em-border-khaki,
.em-hover-border-khaki:hover {
    border-color: #f0e68c !important;
}
.em-border-lime,
.em-hover-border-lime:hover {
    border-color: #cddc39 !important;
}
.em-border-orange,
.em-hover-border-orange:hover {
    border-color: #ff9800 !important;
}
.em-border-deep-orange,
.em-hover-border-deep-orange:hover {
    border-color: #ff5722 !important;
}
.em-border-pink,
.em-hover-border-pink:hover {
    border-color: #e91e63 !important;
}
.em-border-purple,
.em-hover-border-purple:hover {
    border-color: #9c27b0 !important;
}
.em-border-deep-purple,
.em-hover-border-deep-purple:hover {
    border-color: #673ab7 !important;
}
.em-border-red,
.em-hover-border-red:hover {
    border-color: #f44336 !important;
}
.em-border-sand,
.em-hover-border-sand:hover {
    border-color: #fdf5e6 !important;
}
.em-border-teal,
.em-hover-border-teal:hover {
    border-color: #009688 !important;
}
.em-border-yellow,
.em-hover-border-yellow:hover {
    border-color: #ffeb3b !important;
}
.em-border-white,
.em-hover-border-white:hover {
    border-color: #fff !important;
}
.em-border-black,
.em-hover-border-black:hover {
    border-color: #000 !important;
}
.em-border-grey,
.em-hover-border-grey:hover,
.em-border-gray,
.em-hover-border-gray:hover {
    border-color: #9e9e9e !important;
}
.em-border-light-grey,
.em-hover-border-light-grey:hover,
.em-border-light-gray,
.em-hover-border-light-gray:hover {
    border-color: #f1f1f1 !important;
}
.em-border-dark-grey,
.em-hover-border-dark-grey:hover,
.em-border-dark-gray,
.em-hover-border-dark-gray:hover {
    border-color: #616161 !important;
}
.em-border-pale-red,
.em-hover-border-pale-red:hover {
    border-color: #ffe7e7 !important;
}
.em-border-pale-green,
.em-hover-border-pale-green:hover {
    border-color: #e7ffe7 !important;
}
.em-border-pale-yellow,
.em-hover-border-pale-yellow:hover {
    border-color: #ffffcc !important;
}
.em-border-pale-blue,
.em-hover-border-pale-blue:hover {
    border-color: #e7ffff !important;
}
