.unit-amber,
.unit-hover-amber:hover {
    color: #000 !important;
    background-color: #ffc107 !important;
}

.unit-aqua,
.unit-hover-aqua:hover {
    color: #000 !important;
    background-color: #00ffff !important;
}

.unit-blue,
.unit-hover-blue:hover {
    color: #fff !important;
    background-color: #2196f3 !important;
}

.unit-light-blue,
.unit-hover-light-blue:hover {
    color: #000 !important;
    background-color: #87ceeb !important;
}

.unit-brown,
.unit-hover-brown:hover {
    color: #fff !important;
    background-color: #795548 !important;
}

.unit-cyan,
.unit-hover-cyan:hover {
    color: #000 !important;
    background-color: #00bcd4 !important;
}

.unit-blue-grey,
.unit-hover-blue-grey:hover,
.unit-blue-gray,
.unit-hover-blue-gray:hover {
    color: #fff !important;
    background-color: #607d8b !important;
}

.unit-green,
.unit-hover-green:hover {
    color: #fff !important;
    background-color: #4caf50 !important;
}

.unit-light-green,
.unit-hover-light-green:hover {
    color: #000 !important;
    background-color: #8bc34a !important;
}

.unit-indigo,
.unit-hover-indigo:hover {
    color: #fff !important;
    background-color: #3f51b5 !important;
}

.unit-khaki,
.unit-hover-khaki:hover {
    color: #000 !important;
    background-color: #f0e68c !important;
}

.unit-lime,
.unit-hover-lime:hover {
    color: #000 !important;
    background-color: #cddc39 !important;
}

.unit-orange,
.unit-hover-orange:hover {
    color: #000 !important;
    background-color: #ff9800 !important;
}

.unit-deep-orange,
.unit-hover-deep-orange:hover {
    color: #fff !important;
    background-color: #ff5722 !important;
}

.unit-pink,
.unit-hover-pink:hover {
    color: #fff !important;
    background-color: #e91e63 !important;
}

.unit-purple,
.unit-hover-purple:hover {
    color: #fff !important;
    background-color: #9c27b0 !important;
}

.unit-deep-purple,
.unit-hover-deep-purple:hover {
    color: #fff !important;
    background-color: #673ab7 !important;
}

.unit-red,
.unit-hover-red:hover {
    color: #fff !important;
    background-color: #f44336 !important;
}

.unit-sand,
.unit-hover-sand:hover {
    color: #000 !important;
    background-color: #fdf5e6 !important;
}

.unit-teal,
.unit-hover-teal:hover {
    color: #fff !important;
    background-color: #009688 !important;
}

.unit-yellow,
.unit-hover-yellow:hover {
    color: #000 !important;
    background-color: #ffeb3b !important;
}

.unit-white,
.unit-hover-white:hover {
    color: #000 !important;
    background-color: #fff !important;
}

.unit-black,
.unit-hover-black:hover {
    color: #fff !important;
    background-color: #000 !important;
}

.unit-grey,
.unit-hover-grey:hover,
.unit-gray,
.unit-hover-gray:hover {
    color: #000 !important;
    background-color: #9e9e9e !important;
}

.unit-light-grey,
.unit-hover-light-grey:hover,
.unit-light-gray,
.unit-hover-light-gray:hover {
    color: #000 !important;
    background-color: #f1f1f1 !important;
}

.unit-dark-grey,
.unit-hover-dark-grey:hover,
.unit-dark-gray,
.unit-hover-dark-gray:hover {
    color: #fff !important;
    background-color: #616161 !important;
}

.unit-pale-red,
.unit-hover-pale-red:hover {
    color: #000 !important;
    background-color: #ffdddd !important;
}

.unit-pale-green,
.unit-hover-pale-green:hover {
    color: #000 !important;
    background-color: #ddffdd !important;
}

.unit-pale-yellow,
.unit-hover-pale-yellow:hover {
    color: #000 !important;
    background-color: #ffffcc !important;
}

.unit-pale-blue,
.unit-hover-pale-blue:hover {
    color: #000 !important;
    background-color: #ddffff !important;
}

.unit-text-amber,
.unit-hover-text-amber:hover {
    color: #ffc107 !important;
}

.unit-text-aqua,
.unit-hover-text-aqua:hover {
    color: #00ffff !important;
}

.unit-text-blue,
.unit-hover-text-blue:hover {
    color: #2196f3 !important;
}

.unit-text-light-blue,
.unit-hover-text-light-blue:hover {
    color: #87ceeb !important;
}

.unit-text-brown,
.unit-hover-text-brown:hover {
    color: #795548 !important;
}

.unit-text-cyan,
.unit-hover-text-cyan:hover {
    color: #00bcd4 !important;
}

.unit-text-blue-grey,
.unit-hover-text-blue-grey:hover,
.unit-text-blue-gray,
.unit-hover-text-blue-gray:hover {
    color: #607d8b !important;
}

.unit-text-green,
.unit-hover-text-green:hover {
    color: #4caf50 !important;
}

.unit-text-light-green,
.unit-hover-text-light-green:hover {
    color: #8bc34a !important;
}

.unit-text-indigo,
.unit-hover-text-indigo:hover {
    color: #3f51b5 !important;
}

.unit-text-khaki,
.unit-hover-text-khaki:hover {
    color: #b4aa50 !important;
}
.unit-text-lime,
.unit-hover-text-lime:hover {
    color: #cddc39 !important;
}
.unit-text-orange,
.unit-hover-text-orange:hover {
    color: #ff9800 !important;
}
.unit-text-deep-orange,
.unit-hover-text-deep-orange:hover {
    color: #ff5722 !important;
}
.unit-text-pink,
.unit-hover-text-pink:hover {
    color: #e91e63 !important;
}
.unit-text-purple,
.unit-hover-text-purple:hover {
    color: #9c27b0 !important;
}
.unit-text-deep-purple,
.unit-hover-text-deep-purple:hover {
    color: #673ab7 !important;
}
.unit-text-red,
.unit-hover-text-red:hover {
    color: #f44336 !important;
}
.unit-text-sand,
.unit-hover-text-sand:hover {
    color: #fdf5e6 !important;
}
.unit-text-teal,
.unit-hover-text-teal:hover {
    color: #009688 !important;
}
.unit-text-yellow,
.unit-hover-text-yellow:hover {
    color: #d2be0e !important;
}
.unit-text-white,
.unit-hover-text-white:hover {
    color: #fff !important;
}
.unit-text-black,
.unit-hover-text-black:hover {
    color: #000 !important;
}
.unit-text-grey,
.unit-hover-text-grey:hover,
.unit-text-gray,
.unit-hover-text-gray:hover {
    color: #757575 !important;
}
.unit-text-light-grey,
.unit-hover-text-light-grey:hover,
.unit-text-light-gray,
.unit-hover-text-light-gray:hover {
    color: #f1f1f1 !important;
}
.unit-text-dark-grey,
.unit-hover-text-dark-grey:hover,
.unit-text-dark-gray,
.unit-hover-text-dark-gray:hover {
    color: #3a3a3a !important;
}
.unit-border-amber,
.unit-hover-border-amber:hover {
    border-color: #ffc107 !important;
}
.unit-border-aqua,
.unit-hover-border-aqua:hover {
    border-color: #00ffff !important;
}
.unit-border-blue,
.unit-hover-border-blue:hover {
    border-color: #2196f3 !important;
}
.unit-border-light-blue,
.unit-hover-border-light-blue:hover {
    border-color: #87ceeb !important;
}
.unit-border-brown,
.unit-hover-border-brown:hover {
    border-color: #795548 !important;
}
.unit-border-cyan,
.unit-hover-border-cyan:hover {
    border-color: #00bcd4 !important;
}
.unit-border-blue-grey,
.unit-hover-border-blue-grey:hover,
.unit-border-blue-gray,
.unit-hover-border-blue-gray:hover {
    border-color: #607d8b !important;
}
.unit-border-green,
.unit-hover-border-green:hover {
    border-color: #4caf50 !important;
}
.unit-border-light-green,
.unit-hover-border-light-green:hover {
    border-color: #8bc34a !important;
}
.unit-border-indigo,
.unit-hover-border-indigo:hover {
    border-color: #3f51b5 !important;
}
.unit-border-khaki,
.unit-hover-border-khaki:hover {
    border-color: #f0e68c !important;
}
.unit-border-lime,
.unit-hover-border-lime:hover {
    border-color: #cddc39 !important;
}
.unit-border-orange,
.unit-hover-border-orange:hover {
    border-color: #ff9800 !important;
}
.unit-border-deep-orange,
.unit-hover-border-deep-orange:hover {
    border-color: #ff5722 !important;
}
.unit-border-pink,
.unit-hover-border-pink:hover {
    border-color: #e91e63 !important;
}
.unit-border-purple,
.unit-hover-border-purple:hover {
    border-color: #9c27b0 !important;
}
.unit-border-deep-purple,
.unit-hover-border-deep-purple:hover {
    border-color: #673ab7 !important;
}
.unit-border-red,
.unit-hover-border-red:hover {
    border-color: #f44336 !important;
}
.unit-border-sand,
.unit-hover-border-sand:hover {
    border-color: #fdf5e6 !important;
}
.unit-border-teal,
.unit-hover-border-teal:hover {
    border-color: #009688 !important;
}
.unit-border-yellow,
.unit-hover-border-yellow:hover {
    border-color: #ffeb3b !important;
}
.unit-border-white,
.unit-hover-border-white:hover {
    border-color: #fff !important;
}
.unit-border-black,
.unit-hover-border-black:hover {
    border-color: #000 !important;
}
.unit-border-grey,
.unit-hover-border-grey:hover,
.unit-border-gray,
.unit-hover-border-gray:hover {
    border-color: #9e9e9e !important;
}
.unit-border-light-grey,
.unit-hover-border-light-grey:hover,
.unit-border-light-gray,
.unit-hover-border-light-gray:hover {
    border-color: #f1f1f1 !important;
}
.unit-border-dark-grey,
.unit-hover-border-dark-grey:hover,
.unit-border-dark-gray,
.unit-hover-border-dark-gray:hover {
    border-color: #616161 !important;
}
.unit-border-pale-red,
.unit-hover-border-pale-red:hover {
    border-color: #ffe7e7 !important;
}
.unit-border-pale-green,
.unit-hover-border-pale-green:hover {
    border-color: #e7ffe7 !important;
}
.unit-border-pale-yellow,
.unit-hover-border-pale-yellow:hover {
    border-color: #ffffcc !important;
}
.unit-border-pale-blue,
.unit-hover-border-pale-blue:hover {
    border-color: #e7ffff !important;
}
