.em-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.em-ul li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}
.em-ul li:last-child {
    border-bottom: none;
}
.em-tooltip,
.em-display-container {
    position: relative;
}
.em-tooltip .em-text {
    display: none;
}
.em-tooltip:hover .em-text {
    display: inline-block;
}
.em-ripple:active {
    opacity: 0.5;
}
.em-ripple {
    transition: opacity 0s;
}
.em-input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
}
.em-select {
    padding: 9px 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
}

.em-dropdown-click,
.em-dropdown-hover {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.em-dropdown-hover:hover .em-dropdown-content {
    display: block;
}
.em-dropdown-hover:first-child,
.em-dropdown-click:hover {
    background-color: #ccc;
    color: #000;
}
.em-dropdown-hover:hover > .em-button:first-child,
.em-dropdown-click:hover > .em-button:first-child {
    background-color: #ccc;
    color: #000;
}
.em-dropdown-content {
    cursor: auto;
    color: #000;
    background-color: #fff;
    display: none;
    position: absolute;
    min-width: 160px;
    margin: 0;
    padding: 0;
    z-index: 1;
}
.em-check,
.em-radio {
    width: 24px;
    height: 24px;
    position: relative;
    top: 6px;
}
