.unit-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.unit-ul li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}
.unit-ul li:last-child {
    border-bottom: none;
}
.unit-tooltip,
.unit-display-container {
    position: relative;
}
.unit-tooltip .unit-text {
    display: none;
}
.unit-tooltip:hover .unit-text {
    display: inline-block;
}
.unit-ripple:active {
    opacity: 0.5;
}
.unit-ripple {
    transition: opacity 0s;
}
.unit-input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
}
.unit-select {
    padding: 9px 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
}

.unit-dropdown-click,
.unit-dropdown-hover {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.unit-dropdown-hover:hover .unit-dropdown-content {
    display: block;
}
.unit-dropdown-hover:first-child,
.unit-dropdown-click:hover {
    background-color: #ccc;
    color: #000;
}
.unit-dropdown-hover:hover > .unit-button:first-child,
.unit-dropdown-click:hover > .unit-button:first-child {
    background-color: #ccc;
    color: #000;
}
.unit-dropdown-content {
    cursor: auto;
    color: #000;
    background-color: #fff;
    display: none;
    position: absolute;
    min-width: 160px;
    margin: 0;
    padding: 0;
    z-index: 1;
}
.unit-check,
.unit-radio {
    width: 24px;
    height: 24px;
    position: relative;
    top: 6px;
}
