.em-main,
#main {
    transition: margin-left 0.4s;
}
.em-responsive {
    display: block;
    overflow-x: auto;
}
.em-container:after,
.em-container:before,
.em-panel:after,
.em-panel:before,
.em-row:after,
.em-row:before,
.em-row-padding:after,
.em-row-padding:before,
.em-cell-row:before,
.em-cell-row:after,
.em-clear:after,
.em-clear:before,
.em-bar:before,
.em-bar:after {
    content: "";
    display: table;
    clear: both;
}
.em-col,
.em-half,
.em-third,
.em-twothird,
.em-threequarter,
.em-quarter {
    float: left;
    width: 100%;
}
.em-col.s1 {
    width: 8.33333%;
}
.em-col.s2 {
    width: 16.66666%;
}
.em-col.s3 {
    width: 24.99999%;
}
.em-col.s4 {
    width: 33.33333%;
}
.em-col.s5 {
    width: 41.66666%;
}
.em-col.s6 {
    width: 49.99999%;
}
.em-col.s7 {
    width: 58.33333%;
}
.em-col.s8 {
    width: 66.66666%;
}
.em-col.s9 {
    width: 74.99999%;
}
.em-col.s10 {
    width: 83.33333%;
}
.em-col.s11 {
    width: 91.66666%;
}
.em-col.s12 {
    width: 99.99999%;
}
@media (min-width: 601px) {
    .em-col.m1 {
        width: 8.33333%;
    }
    .em-col.m2 {
        width: 16.66666%;
    }
    .em-col.m3,
    .em-quarter {
        width: 24.99999%;
    }
    .em-col.m4,
    .em-third {
        width: 33.33333%;
    }
    .em-col.m5 {
        width: 41.66666%;
    }
    .em-col.m6,
    .em-half {
        width: 49.99999%;
    }
    .em-col.m7 {
        width: 58.33333%;
    }
    .em-col.m8,
    .em-twothird {
        width: 66.66666%;
    }
    .em-col.m9,
    .em-threequarter {
        width: 74.99999%;
    }
    .em-col.m10 {
        width: 83.33333%;
    }
    .em-col.m11 {
        width: 91.66666%;
    }
    .em-col.m12 {
        width: 99.99999%;
    }
}
@media (min-width: 993px) {
    .em-col.l1 {
        width: 8.33333%;
    }
    .em-col.l2 {
        width: 16.66666%;
    }
    .em-col.l3 {
        width: 24.99999%;
    }
    .em-col.l4 {
        width: 33.33333%;
    }
    .em-col.l5 {
        width: 41.66666%;
    }
    .em-col.l6 {
        width: 49.99999%;
    }
    .em-col.l7 {
        width: 58.33333%;
    }
    .em-col.l8 {
        width: 66.66666%;
    }
    .em-col.l9 {
        width: 74.99999%;
    }
    .em-col.l10 {
        width: 83.33333%;
    }
    .em-col.l11 {
        width: 91.66666%;
    }
    .em-col.l12 {
        width: 99.99999%;
    }
}
.em-rest {
    overflow: hidden;
}
.em-stretch {
    margin-left: -16px;
    margin-right: -16px;
}
.em-content,
.em-auto {
    margin-left: auto;
    margin-right: auto;
}
.em-content {
    max-width: 980px;
}
.em-auto {
    max-width: 1140px;
}
.em-cell-row {
    display: table;
    width: 100%;
}
.em-cell {
    display: table-cell;
}
.em-cell-top {
    vertical-align: top;
}
.em-cell-middle {
    vertical-align: middle;
}
.em-cell-bottom {
    vertical-align: bottom;
}
.em-hide {
    display: none !important;
}
.em-show-block,
.em-show {
    display: block !important;
}
.em-show-inline-block {
    display: inline-block !important;
}
@media (max-width: 1205px) {
    .em-auto {
        max-width: 95%;
    }
}
@media (max-width: 600px) {
    .em-modal-content {
        margin: 0 10px;
        width: auto !important;
    }
    .em-modal {
        padding-top: 30px;
    }
    .em-dropdown-hover.em-mobile .em-dropdown-content,
    .em-dropdown-click.em-mobile .em-dropdown-content {
        position: relative;
    }
    .em-hide-small {
        display: none !important;
    }
    .em-mobile {
        display: block;
        width: 100% !important;
    }
    .em-bar-item.em-mobile,
    .em-dropdown-hover.em-mobile,
    .em-dropdown-click.em-mobile {
        text-align: center;
    }
    .em-dropdown-hover.em-mobile,
    .em-dropdown-hover.em-mobile .em-btn,
    .em-dropdown-hover.em-mobile .em-button,
    .em-dropdown-click.em-mobile,
    .em-dropdown-click.em-mobile .em-btn,
    .em-dropdown-click.em-mobile .em-button {
        width: 100%;
    }
}
@media (max-width: 768px) {
    .em-modal-content {
        width: 500px;
    }
    .em-modal {
        padding-top: 50px;
    }
}
@media (min-width: 993px) {
    .em-modal-content {
        width: 900px;
    }
    .em-hide-large {
        display: none !important;
    }
    .em-sidebar.em-collapse {
        display: block !important;
    }
}
@media (max-width: 992px) and (min-width: 601px) {
    .em-hide-medium {
        display: none !important;
    }
}
@media (max-width: 992px) {
    .em-sidebar.em-collapse {
        display: none;
    }
    .em-main {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .em-auto {
        max-width: 100%;
    }
}
.em-top,
.em-bottom {
    position: fixed;
    width: 100%;
    z-index: 1;
}
.em-top {
    top: 0;
}
.em-bottom {
    bottom: 0;
}
.em-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}
.em-display-topleft {
    position: absolute;
    left: 0;
    top: 0;
}
.em-display-topright {
    position: absolute;
    right: 0;
    top: 0;
}
.em-display-bottomleft {
    position: absolute;
    left: 0;
    bottom: 0;
}
.em-display-bottomright {
    position: absolute;
    right: 0;
    bottom: 0;
}
.em-display-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.em-display-left {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(-0%, -50%);
}
.em-display-right {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
}
.em-display-topmiddle {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
}
.em-display-bottommiddle {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
}
.em-display-container:hover .em-display-hover {
    display: block;
}
.em-display-container:hover span.em-display-hover {
    display: inline-block;
}
.em-display-hover {
    display: none;
}
.em-display-position {
    position: absolute;
}
.em-circle {
    border-radius: 50%;
}
.em-round-small {
    border-radius: 2px;
}
.em-round,
.em-round-medium {
    border-radius: 4px;
}
.em-round-large {
    border-radius: 8px;
}
.em-round-xlarge {
    border-radius: 16px;
}
.em-round-xxlarge {
    border-radius: 32px;
}
.em-row-padding,
.em-row-padding > .em-half,
.em-row-padding > .em-third,
.em-row-padding > .em-twothird,
.em-row-padding > .em-threequarter,
.em-row-padding > .em-quarter,
.em-row-padding > .em-col {
    padding: 0 8px;
}
.em-container,
.em-panel {
    padding: 0.01em 16px;
}
.em-panel {
    margin-top: 16px;
    margin-bottom: 16px;
}
