.em-padding-small {
    padding: 4px 8px !important;
}
.em-padding {
    padding: 8px 16px !important;
}
.em-padding-large {
    padding: 12px 24px !important;
}
.em-padding-16 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}
.em-padding-24 {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
}
.em-padding-32 {
    padding-top: 32px !important;
    padding-bottom: 32px !important;
}
.em-padding-48 {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
}
.em-padding-64 {
    padding-top: 64px !important;
    padding-bottom: 64px !important;
}
.em-padding-top-64 {
    padding-top: 64px !important;
}
.em-padding-top-48 {
    padding-top: 48px !important;
}
.em-padding-top-32 {
    padding-top: 32px !important;
}
.em-padding-top-24 {
    padding-top: 24px !important;
}
