.unit-main,
#main {
    transition: margin-left 0.4s;
}
.unit-responsive {
    display: block;
    overflow-x: auto;
}
.unit-container:after,
.unit-container:before,
.unit-panel:after,
.unit-panel:before,
.unit-row:after,
.unit-row:before,
.unit-row-padding:after,
.unit-row-padding:before,
.unit-cell-row:before,
.unit-cell-row:after,
.unit-clear:after,
.unit-clear:before,
.unit-bar:before,
.unit-bar:after {
    content: "";
    display: table;
    clear: both;
}
.unit-col,
.unit-half,
.unit-third,
.unit-twothird,
.unit-threequarter,
.unit-quarter {
    float: left;
    width: 100%;
}
.unit-col.s1 {
    width: 8.33333%;
}
.unit-col.s2 {
    width: 16.66666%;
}
.unit-col.s3 {
    width: 24.99999%;
}
.unit-col.s4 {
    width: 33.33333%;
}
.unit-col.s5 {
    width: 41.66666%;
}
.unit-col.s6 {
    width: 49.99999%;
}
.unit-col.s7 {
    width: 58.33333%;
}
.unit-col.s8 {
    width: 66.66666%;
}
.unit-col.s9 {
    width: 74.99999%;
}
.unit-col.s10 {
    width: 83.33333%;
}
.unit-col.s11 {
    width: 91.66666%;
}
.unit-col.s12 {
    width: 99.99999%;
}
@media (min-width: 601px) {
    .unit-col.m1 {
        width: 8.33333%;
    }
    .unit-col.m2 {
        width: 16.66666%;
    }
    .unit-col.m3,
    .unit-quarter {
        width: 24.99999%;
    }
    .unit-col.m4,
    .unit-third {
        width: 33.33333%;
    }
    .unit-col.m5 {
        width: 41.66666%;
    }
    .unit-col.m6,
    .unit-half {
        width: 49.99999%;
    }
    .unit-col.m7 {
        width: 58.33333%;
    }
    .unit-col.m8,
    .unit-twothird {
        width: 66.66666%;
    }
    .unit-col.m9,
    .unit-threequarter {
        width: 74.99999%;
    }
    .unit-col.m10 {
        width: 83.33333%;
    }
    .unit-col.m11 {
        width: 91.66666%;
    }
    .unit-col.m12 {
        width: 99.99999%;
    }
}
@media (min-width: 993px) {
    .unit-col.l1 {
        width: 8.33333%;
    }
    .unit-col.l2 {
        width: 16.66666%;
    }
    .unit-col.l3 {
        width: 24.99999%;
    }
    .unit-col.l4 {
        width: 33.33333%;
    }
    .unit-col.l5 {
        width: 41.66666%;
    }
    .unit-col.l6 {
        width: 49.99999%;
    }
    .unit-col.l7 {
        width: 58.33333%;
    }
    .unit-col.l8 {
        width: 66.66666%;
    }
    .unit-col.l9 {
        width: 74.99999%;
    }
    .unit-col.l10 {
        width: 83.33333%;
    }
    .unit-col.l11 {
        width: 91.66666%;
    }
    .unit-col.l12 {
        width: 99.99999%;
    }
}
.unit-rest {
    overflow: hidden;
}
.unit-stretch {
    margin-left: -16px;
    margin-right: -16px;
}
.unit-content,
.unit-auto {
    margin-left: auto;
    margin-right: auto;
}
.unit-content {
    max-width: 980px;
}
.unit-auto {
    max-width: 1140px;
}
.unit-cell-row {
    display: table;
    width: 100%;
}
.unit-cell {
    display: table-cell;
}
.unit-cell-top {
    vertical-align: top;
}
.unit-cell-middle {
    vertical-align: middle;
}
.unit-cell-bottom {
    vertical-align: bottom;
}
.unit-hide {
    display: none !important;
}
.unit-show-block,
.unit-show {
    display: block !important;
}
.unit-show-inline-block {
    display: inline-block !important;
}
@media (max-width: 1205px) {
    .unit-auto {
        max-width: 95%;
    }
}
@media (max-width: 600px) {
    .unit-modal-content {
        margin: 0 10px;
        width: auto !important;
    }
    .unit-modal {
        padding-top: 30px;
    }
    .unit-dropdown-hover.unit-mobile .unit-dropdown-content,
    .unit-dropdown-click.unit-mobile .unit-dropdown-content {
        position: relative;
    }
    .unit-hide-small {
        display: none !important;
    }
    .unit-mobile {
        display: block;
        width: 100% !important;
    }
    .unit-bar-item.unit-mobile,
    .unit-dropdown-hover.unit-mobile,
    .unit-dropdown-click.unit-mobile {
        text-align: center;
    }
    .unit-dropdown-hover.unit-mobile,
    .unit-dropdown-hover.unit-mobile .unit-btn,
    .unit-dropdown-hover.unit-mobile .unit-button,
    .unit-dropdown-click.unit-mobile,
    .unit-dropdown-click.unit-mobile .unit-btn,
    .unit-dropdown-click.unit-mobile .unit-button {
        width: 100%;
    }
}
@media (max-width: 768px) {
    .unit-modal-content {
        width: 500px;
    }
    .unit-modal {
        padding-top: 50px;
    }
}
@media (min-width: 993px) {
    .unit-modal-content {
        width: 900px;
    }
    .unit-hide-large {
        display: none !important;
    }
    .unit-sidebar.unit-collapse {
        display: block !important;
    }
}
@media (max-width: 992px) and (min-width: 601px) {
    .unit-hide-medium {
        display: none !important;
    }
}
@media (max-width: 992px) {
    .unit-sidebar.unit-collapse {
        display: none;
    }
    .unit-main {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .unit-auto {
        max-width: 100%;
    }
}
.unit-top,
.unit-bottom {
    position: fixed;
    width: 100%;
    z-index: 1;
}
.unit-top {
    top: 0;
}
.unit-bottom {
    bottom: 0;
}
.unit-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}
.unit-display-topleft {
    position: absolute;
    left: 0;
    top: 0;
}
.unit-display-topright {
    position: absolute;
    right: 0;
    top: 0;
}
.unit-display-bottomleft {
    position: absolute;
    left: 0;
    bottom: 0;
}
.unit-display-bottomright {
    position: absolute;
    right: 0;
    bottom: 0;
}
.unit-display-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.unit-display-left {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(-0%, -50%);
}
.unit-display-right {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
}
.unit-display-topmiddle {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
}
.unit-display-bottommiddle {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
}
.unit-display-container:hover .unit-display-hover {
    display: block;
}
.unit-display-container:hover span.unit-display-hover {
    display: inline-block;
}
.unit-display-hover {
    display: none;
}
.unit-display-position {
    position: absolute;
}
.unit-circle {
    border-radius: 50%;
}
.unit-round-small {
    border-radius: 2px;
}
.unit-round,
.unit-round-medium {
    border-radius: 4px;
}
.unit-round-large {
    border-radius: 8px;
}
.unit-round-xlarge {
    border-radius: 16px;
}
.unit-round-xxlarge {
    border-radius: 32px;
}
.unit-row-padding,
.unit-row-padding > .unit-half,
.unit-row-padding > .unit-third,
.unit-row-padding > .unit-twothird,
.unit-row-padding > .unit-threequarter,
.unit-row-padding > .unit-quarter,
.unit-row-padding > .unit-col {
    padding: 0 8px;
}
.unit-container,
.unit-panel {
    padding: 0.01em 16px;
}
.unit-panel {
    margin-top: 16px;
    margin-bottom: 16px;
}
