.unit-sidebar {
    height: 100%;
    width: 200px;
    background-color: #fff;
    position: fixed !important;
    z-index: 1;
    overflow: auto;
}
.unit-bar-block .unit-dropdown-hover,
.unit-bar-block .unit-dropdown-click {
    width: 100%;
}
.unit-bar-block .unit-dropdown-hover .unit-dropdown-content,
.unit-bar-block .unit-dropdown-click .unit-dropdown-content {
    min-width: 100%;
}
.unit-bar-block .unit-dropdown-hover .unit-button,
.unit-bar-block .unit-dropdown-click .unit-button {
    width: 100%;
    text-align: left;
    padding: 8px 16px;
}
