.unit-table,
.unit-table-all {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
}
.unit-table-all {
    border: 1px solid #ccc;
}
.unit-bordered tr,
.unit-table-all tr {
    border-bottom: 1px solid #ddd;
}
.unit-striped tbody tr:nth-child(even) {
    background-color: #f1f1f1;
}
.unit-table-all tr:nth-child(odd) {
    background-color: #fff;
}
.unit-table-all tr:nth-child(even) {
    background-color: #f1f1f1;
}
.unit-hoverable tbody tr:hover,
.unit-ul.unit-hoverable li:hover {
    background-color: #ccc;
}
.unit-centered tr th,
.unit-centered tr td {
    text-align: center;
}
.unit-table td,
.unit-table th,
.unit-table-all td,
.unit-table-all th {
    padding: 8px 8px;
    display: table-cell;
    text-align: left;
    vertical-align: top;
}
.unit-table th:first-child,
.unit-table td:first-child,
.unit-table-all th:first-child,
.unit-table-all td:first-child {
    padding-left: 16px;
}
