<div class="unit-container-fluid">
  <div class="unit-row">
    <div class="unit-col-xs-12 unit-col-sm-3 unit-col-md-2 unit-col-lg-1">
      <div class="box-row unit-border unit-margin">&nbsp;</div>
    </div>
    <div class="unit-col-xs-6 unit-col-sm-6 unit-col-md-8 unit-col-lg-10">
      <div class="box-row unit-border unit-margin">&nbsp;</div>
    </div>
    <div class="unit-col-xs-6 unit-col-sm-3 unit-col-md-2 unit-col-lg-1">
      <div class="box-row unit-border unit-margin">&nbsp;</div>
    </div>
  </div>
  <div class="unit-row">
    <div class="unit-col-xs-12 unit-col-sm-3 unit-col-md-2 unit-col-lg-1">
      <div class="box-row unit-border unit-margin">&nbsp;</div>
    </div>
    <div class="unit-col-xs-12 unit-col-sm-9 unit-col-md-10 unit-col-lg-11">
      <div class="box-row unit-border unit-margin">&nbsp;</div>
    </div>
  </div>
  <div class="unit-row">
    <div class="unit-col-xs-10 unit-col-sm-6 unit-col-md-8 unit-col-lg-10">
      <div class="box-row unit-border unit-margin">&nbsp;</div>
    </div>
    <div class="unit-col-xs-2 unit-col-sm-6 unit-col-md-4 unit-col-lg-2">
      <div class="box-row unit-border unit-margin">&nbsp;</div>
    </div>
  </div>
</div>

<div class="unit-container-fluid">
  <div class="unit-row">
    <div class="unit-col-xs-12">
      <div class="box-row unit-border unit-margin">&nbsp;</div>
    </div>
  </div>
  <div class="unit-row">
    <div class="unit-col-xs-1">
      <div class="box-row unit-border unit-margin">&nbsp;</div>
    </div>
    <div class="unit-col-xs-11">
      <div class="box-row unit-border unit-margin">&nbsp;</div>
    </div>
  </div>
  <div class="unit-row">
    <div class="unit-col-xs-2">
      <div class="box-row unit-border unit-margin">&nbsp;</div>
    </div>
    <div class="unit-col-xs-10">
        <div class="box-row unit-border unit-margin">&nbsp;</div>
    </div>
  </div>
  <div class="unit-row">
    <div class="unit-col-xs-3">
      <div class="box-row unit-border unit-margin">&nbsp;</div>
    </div>
    <div class="unit-col-xs-9">
      <div class="box-row unit-border unit-margin">&nbsp;</div>
    </div>
  </div>
  <div class="unit-row">
    <div class="unit-col-xs-4">
      <div class="box-row unit-border unit-margin">&nbsp;</div>
    </div>
    <div class="unit-col-xs-8">
      <div class="box-row unit-border unit-margin">&nbsp;</div>
    </div>
  </div>
  <div class="unit-row">
    <div class="unit-col-xs-5">
      <div class="box-row unit-border unit-margin">&nbsp;</div>
    </div>
    <div class="unit-col-xs-7">
      <div class="box-row unit-border unit-margin">&nbsp;</div>
    </div>
  </div>
  <div class="unit-row">
    <div class="unit-col-xs-6">
      <div class="box-row unit-border unit-margin">&nbsp;</div>
    </div>
    <div class="unit-col-xs-6">
      <div class="box-row unit-border unit-margin">&nbsp;</div>
    </div>
  </div>
</div>
