<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-1">
      <div class="box-row em-border em-margin">&nbsp;</div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-8 col-lg-10">
      <div class="box-row em-border em-margin">&nbsp;</div>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1">
      <div class="box-row em-border em-margin">&nbsp;</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-1">
      <div class="box-row em-border em-margin">&nbsp;</div>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-10 col-lg-11">
      <div class="box-row em-border em-margin">&nbsp;</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-sm-6 col-md-8 col-lg-10">
      <div class="box-row em-border em-margin">&nbsp;</div>
    </div>
    <div class="col-xs-2 col-sm-6 col-md-4 col-lg-2">
      <div class="box-row em-border em-margin">&nbsp;</div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="box-row em-border em-margin">&nbsp;</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-1">
      <div class="box-row em-border em-margin">&nbsp;</div>
    </div>
    <div class="col-xs-11">
      <div class="box-row em-border em-margin">&nbsp;</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">
      <div class="box-row em-border em-margin">&nbsp;</div>
    </div>
    <div class="col-xs-10">
        <div class="box-row em-border em-margin">&nbsp;</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <div class="box-row em-border em-margin">&nbsp;</div>
    </div>
    <div class="col-xs-9">
      <div class="box-row em-border em-margin">&nbsp;</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <div class="box-row em-border em-margin">&nbsp;</div>
    </div>
    <div class="col-xs-8">
      <div class="box-row em-border em-margin">&nbsp;</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5">
      <div class="box-row em-border em-margin">&nbsp;</div>
    </div>
    <div class="col-xs-7">
      <div class="box-row em-border em-margin">&nbsp;</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="box-row em-border em-margin">&nbsp;</div>
    </div>
    <div class="col-xs-6">
      <div class="box-row em-border em-margin">&nbsp;</div>
    </div>
  </div>
</div>
