<div class="slideshow-container">
  @for (item of images(); track item) {
  <div class="slide-item fade" #slideItem>
    <div class="number-text">{{ slideIndex }} / {{ slideItemCount }}</div>
    <img src="{{ item }}" style="width: 100%" />
    <div class="text">Caption Text</div>
  </div>
  } @empty {
  <li>There are no items.</li>
  }

  <a class="prev" (click)="plusSlides(-1)">❮</a>
  <a class="next" (click)="plusSlides(1)">❯</a>
</div>
<br />

<div style="text-align: center">
  <span class="dot" (click)="currentSlide(1)"></span>
  <span class="dot" (click)="currentSlide(2)"></span>
  <span class="dot" (click)="currentSlide(3)"></span>
</div>
