<p>
  <span class="em-tag em-xxxlarge em-blue">EM.SCSS</span>
</p>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Colors</h2>
  <table class="em-table">
    <tbody>
      <tr>
        <td class="em-panel em-red" style="width: 50%">
          <p>
            <a target="_blank">Red</a>
          </p>
        </td>
        <td class="em-panel em-pink">
          <p>
            <a target="_blank">Pink</a>
          </p>
        </td>
      </tr>
      <tr>
        <td class="em-panel em-purple" style="width: 50%">
          <p>
            <a target="_blank">Purple</a>
          </p>
        </td>
        <td class="em-panel em-deep-purple">
          <p>
            <a target="_blank">Deep Purple</a>
          </p>
        </td>
      </tr>
      <tr>
        <td class="em-panel em-indigo" style="width: 50%">
          <p>
            <a target="_blank">Indigo</a>
          </p>
        </td>
        <td class="em-panel em-blue">
          <p>
            <a target="_blank">Blue</a>
          </p>
        </td>
      </tr>
      <tr>
        <td class="em-panel em-light-blue">
          <p>
            <a target="_blank">Light Blue</a>
          </p>
        </td>
        <td class="em-panel em-cyan">
          <p>
            <a target="_blank">Cyan</a>
          </p>
        </td>
      </tr>
      <tr>
        <td class="em-panel em-aqua">
          <p>
            <a target="_blank">Aqua</a>
          </p>
        </td>
        <td class="em-panel em-teal">
          <p>
            <a target="_blank">Teal</a>
          </p>
        </td>
      </tr>
      <tr>
        <td class="em-panel em-green">
          <p>
            <a target="_blank">Green</a>
          </p>
        </td>
        <td class="em-panel em-light-green">
          <p>
            <a target="_blank">Light Green</a>
          </p>
        </td>
      </tr>
      <tr>
        <td class="em-panel em-lime">
          <p>
            <a target="_blank">Lime</a>
          </p>
        </td>
        <td class="em-panel em-sand">
          <p>
            <a target="_blank">Sand</a>
          </p>
        </td>
      </tr>
      <tr>
        <td class="em-panel em-khaki">
          <p>
            <a target="_blank">Khaki</a>
          </p>
        </td>
        <td class="em-panel em-yellow">
          <p>
            <a target="_blank">Yellow</a>
          </p>
        </td>
      </tr>
      <tr>
        <td class="em-panel em-amber">
          <p>
            <a target="_blank">Amber</a>
          </p>
        </td>
        <td class="em-panel em-orange">
          <p>
            <a target="_blank">Orange</a>
          </p>
        </td>
      </tr>
      <tr>
        <td class="em-panel em-deep-orange">
          <p>
            <a target="_blank">Deep Orange</a>
          </p>
        </td>
        <td class="em-panel em-blue-gray">
          <p>
            <a target="_blank">Blue Gray</a>
          </p>
        </td>
      </tr>
      <tr>
        <td class="em-panel em-brown">
          <p>
            <a target="_blank">Brown</a>
          </p>
        </td>
        <td class="em-panel em-light-gray">
          <p>
            <a target="_blank">Light Gray</a>
          </p>
        </td>
      </tr>
      <tr>
        <td class="em-panel em-gray">
          <p>
            <a target="_blank">Gray</a>
          </p>
        </td>
        <td class="em-panel em-dark-gray">
          <p>
            <a target="_blank">Dark Gray</a>
          </p>
        </td>
      </tr>
      <tr>
        <td class="em-panel em-pale-red">
          <p>
            <a target="_blank">Pale Red</a>
          </p>
        </td>
        <td class="em-panel em-pale-yellow">
          <p>
            <a target="_blank">Pale Yellow</a>
          </p>
        </td>
      </tr>
      <tr>
        <td class="em-panel em-pale-green">
          <p>
            <a target="_blank">Pale Green</a>
          </p>
        </td>
        <td class="em-panel em-pale-blue">
          <p>
            <a target="_blank">Pale-Blue</a>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Containers</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Panels</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Borders</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Cards</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Defaults</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Fonts</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Text</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Round Classes</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Padding</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Margins</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Display</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Buttons</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Notes</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Quotes</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Alerts</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Tables</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Lists</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Images</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Input</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Badges</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Tags (Labels and Signs)</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Icons</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Built-In Responsiveness</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Layout</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Animations</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Effects</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Bars</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Dropdowns</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Accordions</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Navigation Bars</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Sidebar</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Navigation Tabs</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Pagination</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Progress Bars</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Slideshow</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Modal</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Tooltips</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Responsive Fluid Grid</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Code</h2>
  <p>---</p>
</div>
