<p>
  <span class="em-tag em-xxxlarge em-blue">EM.SCSS</span>
</p>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Colors</h2>
  <table class="em-table">
    <tbody>
      <tr>
        <td class="em-panel em-red" style="width: 50%">
          <p>
            <a target="_blank">Red</a>
          </p>
        </td>
        <td class="em-panel em-pink">
          <p>
            <a target="_blank">Pink</a>
          </p>
        </td>
      </tr>
      <tr>
        <td class="em-panel em-purple" style="width: 50%">
          <p>
            <a target="_blank">Purple</a>
          </p>
        </td>
        <td class="em-panel em-deep-purple">
          <p>
            <a target="_blank">Deep Purple</a>
          </p>
        </td>
      </tr>
      <tr>
        <td class="em-panel em-indigo" style="width: 50%">
          <p>
            <a target="_blank">Indigo</a>
          </p>
        </td>
        <td class="em-panel em-blue">
          <p>
            <a target="_blank">Blue</a>
          </p>
        </td>
      </tr>
      <tr>
        <td class="em-panel em-light-blue">
          <p>
            <a target="_blank">Light Blue</a>
          </p>
        </td>
        <td class="em-panel em-cyan">
          <p>
            <a target="_blank">Cyan</a>
          </p>
        </td>
      </tr>
      <tr>
        <td class="em-panel em-aqua">
          <p>
            <a target="_blank">Aqua</a>
          </p>
        </td>
        <td class="em-panel em-teal">
          <p>
            <a target="_blank">Teal</a>
          </p>
        </td>
      </tr>
      <tr>
        <td class="em-panel em-green">
          <p>
            <a target="_blank">Green</a>
          </p>
        </td>
        <td class="em-panel em-light-green">
          <p>
            <a target="_blank">Light Green</a>
          </p>
        </td>
      </tr>
      <tr>
        <td class="em-panel em-lime">
          <p>
            <a target="_blank">Lime</a>
          </p>
        </td>
        <td class="em-panel em-sand">
          <p>
            <a target="_blank">Sand</a>
          </p>
        </td>
      </tr>
      <tr>
        <td class="em-panel em-khaki">
          <p>
            <a target="_blank">Khaki</a>
          </p>
        </td>
        <td class="em-panel em-yellow">
          <p>
            <a target="_blank">Yellow</a>
          </p>
        </td>
      </tr>
      <tr>
        <td class="em-panel em-amber">
          <p>
            <a target="_blank">Amber</a>
          </p>
        </td>
        <td class="em-panel em-orange">
          <p>
            <a target="_blank">Orange</a>
          </p>
        </td>
      </tr>
      <tr>
        <td class="em-panel em-deep-orange">
          <p>
            <a target="_blank">Deep Orange</a>
          </p>
        </td>
        <td class="em-panel em-blue-gray">
          <p>
            <a target="_blank">Blue Gray</a>
          </p>
        </td>
      </tr>
      <tr>
        <td class="em-panel em-brown">
          <p>
            <a target="_blank">Brown</a>
          </p>
        </td>
        <td class="em-panel em-light-gray">
          <p>
            <a target="_blank">Light Gray</a>
          </p>
        </td>
      </tr>
      <tr>
        <td class="em-panel em-gray">
          <p>
            <a target="_blank">Gray</a>
          </p>
        </td>
        <td class="em-panel em-dark-gray">
          <p>
            <a target="_blank">Dark Gray</a>
          </p>
        </td>
      </tr>
      <tr>
        <td class="em-panel em-pale-red">
          <p>
            <a target="_blank">Pale Red</a>
          </p>
        </td>
        <td class="em-panel em-pale-yellow">
          <p>
            <a target="_blank">Pale Yellow</a>
          </p>
        </td>
      </tr>
      <tr>
        <td class="em-panel em-pale-green">
          <p>
            <a target="_blank">Pale Green</a>
          </p>
        </td>
        <td class="em-panel em-pale-blue">
          <p>
            <a target="_blank">Pale-Blue</a>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Containers</h2>

  <div class="em-container em-teal em-margin">
    <h5>Footer</h5>
    <p>Footer information goes here</p>
  </div>

  <div class="em-container em-brown em-margin">
    <h2>London</h2>
    <p>
      London is the most populous city in the United Kingdom, with a
      metropolitan area of over 9 million inhabitants.
    </p>
    <hr />
  </div>

  <article class="em-container em-red em-margin">
    <h2>Paris</h2>
    <p>
      The Paris area is one of the largest population centers in Europe, with
      more than 2 million inhabitants.
    </p>
    <hr />
  </article>

  <section class="em-container em-blue em-margin">
    <h2>Tokyo</h2>
    <p>
      Tokyo is the center of the Greater Tokyo Area, and the most populous
      metropolitan area in the world.
    </p>
    <hr />
  </section>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Panels</h2>

  <div class="em-panel em-pale-green">
    <p>
      London is the most populous city in the United Kingdom, with a
      metropolitan area of over 9 million inhabitants.
    </p>
  </div>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Borders</h2>

  <div class="em-panel em-white em-border em-border-red">
    <p>I have borders.</p>
  </div>

  <div class="em-panel em-white em-border-left em-border-red">
    <p>I have only a left border.</p>
  </div>

  <div class="em-panel em-white em-border-right em-border-red">
    <p>I have only a right border.</p>
  </div>

  <div class="em-panel em-white em-border-top em-border-bottom em-border-red">
    <p>I have top and bottom borders.</p>
  </div>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Cards</h2>
  <div class="em-panel">
    <div class="em-card-4">
      <header class="em-container em-blue">
        <h1>Header</h1>
      </header>

      <div class="em-container">
        <p>Lorem ipsum...</p>
      </div>

      <footer class="em-container em-blue">
        <h5>Footer</h5>
      </footer>
    </div>
  </div>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Defaults</h2>
  <div class="em-container">
    <h1>Heading 1 (36px)</h1>
    <h2>Heading 2 (30px)</h2>
    <h3>Heading 3 (24px)</h3>
    <h4>Heading 4 (20px)</h4>
    <h5>Heading 5 (18px)</h5>
    <h6>Heading 6 (16px)</h6>
  </div>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Fonts</h2>
  <div class="em-panel">
    <h2>Font-Size Classes</h2>

    <p class="em-tiny">em-tiny</p>
    <p class="em-small">em-small</p>
    <p class="em-medium">em-medium (Default)</p>
    <p class="em-large">em-large</p>
    <p class="em-xlarge">em-xlarge</p>
    <p class="em-xxlarge">em-xxlarge</p>
    <p class="em-xxxlarge">em-xxxlarge</p>
    <p class="em-jumbo">em-jumbo</p>
  </div>

  <div class="em-container">
    <p class="em-serif">
      Norway has a total area of 385,252 square kilometers and a population of
      5,438,657 (December 2020). Norway is bordered by Sweden, Finland and
      Russia to the north-east, and the Skagerrak to the south, with Denmark on
      the other side.
    </p>
    <p class="em-sans-serif">
      Norway has a total area of 385,252 square kilometers and a population of
      5,438,657 (December 2020). Norway is bordered by Sweden, Finland and
      Russia to the north-east, and the Skagerrak to the south, with Denmark on
      the other side.
    </p>
    <p>
      Norway has a total area of 385,252 square kilometers and a population of
      5,438,657 (December 2020). Norway is bordered by Sweden, Finland and
      Russia to the north-east, and the Skagerrak to the south, with Denmark on
      the other side.
    </p>
  </div>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Text</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Round Classes</h2>
  <div class="em-round em-teal em-margin em-padding">em-round</div>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Padding</h2>
  <div class="em-panel em-orange em-padding-16">
    <p>I have 16px top and bottom padding.</p>
  </div>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Margins</h2>
  <div class="em-container em-green em-margin">
    <p>I have 16px margin on all sides.</p>
  </div>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Display</h2>
  <div class="em-display-container em-green" style="height: 300px">
    <div class="em-display-topleft">Top Left</div>
    <div class="em-display-topright">Top Right</div>
    <div class="em-display-bottomleft">Bottom Left</div>
    <div class="em-display-bottomright">Bottom Right</div>
    <div class="em-display-left">Left</div>
    <div class="em-display-right">Right</div>
    <div class="em-display-middle">Middle</div>
    <div class="em-display-topmiddle">Top Mid</div>
    <div class="em-display-bottommiddle">Bottom Mid</div>
  </div>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Buttons</h2>
  <div class="em-panel">
    <button class="em-button em-red em-hover-black">Black</button>
    <button class="em-button em-orange em-hover-green">Red</button>
    <button class="em-button em-yellow em-hover-purple">Purple</button>
  </div>

  <div class="em-panel">
    <button class="em-button em-black em-tiny">Tiny</button>
    <button class="em-button em-black em-small">Small</button>
    <button class="em-button em-black em-medium">Medium</button>
    <button class="em-button em-black em-large">Large</button>
    <button class="em-button em-black em-xlarge">xLarge</button>
    <button class="em-button em-black em-xxlarge">XXLarge</button>
    <button class="em-button em-black em-xxxlarge">XXXLarge</button>
    <button class="em-button em-black em-jumbo">Jumbo</button>
  </div>

  <div class="em-panel">
    <button class="em-button em-white em-border">Button</button>
    <button class="em-button em-white em-border em-border-blue">Button</button>
    <button class="em-button em-yellow em-border">Button</button>
    <button class="em-button em-white em-border em-border-red em-round-large">
      Button
    </button>
  </div>

  <div class="em-panel">
    <button class="em-button em-black em-round">Round</button>
    <button class="em-button em-black em-round-large">Rounder</button>
    <button class="em-button em-black em-round-xlarge">and Rounder</button>
    <button class="em-button em-black em-round-xxlarge">and Rounder</button>

    <button class="em-btn em-black em-round">Round</button>
    <button class="em-btn em-black em-round-large">Rounder</button>
    <button class="em-btn em-black em-round-xlarge">and Rounder</button>
    <button class="em-btn em-black em-round-xxlarge">and Rounder</button>
  </div>

  <div class="em-panel">
    <button class="em-button em-red em-padding-small">Button</button>
    <button class="em-button em-red">Button</button>
    <button class="em-button em-red em-padding-large">Button</button>

    <button class="em-btn em-red em-padding-small">Button</button>
    <button class="em-btn em-red">Button</button>
    <button class="em-btn em-red em-padding-large">Button</button>
  </div>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Notes</h2>
  <div class="em-panel em-pale-blue em-leftbar em-rightbar em-border-blue">
    <p>
      London is the most populous city in the United Kingdom, with a
      metropolitan area of over 9 million inhabitants.
    </p>
  </div>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Quotes</h2>

  <div class="em-panel em-leftbar em-white">
    <p class="em-xlarge em-serif">
      <i>"Make it as simple as possible, but not simpler."</i>
    </p>
    <p>Albert Einstein</p>
  </div>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Alerts</h2>
  <div class="em-panel em-yellow em-border">
    <h3>Warning!</h3>
    <p>Yellow often indicates a warning that might need attention.</p>
  </div>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Tables</h2>
  <div class="em-panel">
    <table class="em-table em-white em-striped em-border">
      <tr class="em-border-bottom">
        <th>First Name</th>
        <th>Last Name</th>
        <th>Points</th>
      </tr>
      <tr>
        <td>Jill</td>
        <td>Smith</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Eve</td>
        <td>Jackson</td>
        <td>94</td>
      </tr>
      <tr>
        <td>Adam</td>
        <td>Johnson</td>
        <td>67</td>
      </tr>
    </table>
  </div>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Lists</h2>
  <ul class="em-ul em-margin em-white">
    <li>Jill</li>
    <li>Eve</li>
    <li>Adam</li>
  </ul>

  <ul class="em-ul em-border em-margin em-white">
    <li><h2>Names</h2></li>
    <li>Jill</li>
    <li>Eve</li>
    <li>Adam</li>
  </ul>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Images</h2>

  <img
    width="500"
    height="500"
    src="https://live.staticflickr.com/65535/53730042606_18870c9280_5k.jpg"
    class="em-round em-border em-margin"
    alt="oak tree"
  />
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Input</h2>

  <div class="em-card-4 em-margin">
    <div class="em-container em-green">
      <h2>Header</h2>
    </div>

    <form class="em-container em-padding">
      <label>First Name</label>
      <input class="em-input" type="text" />

      <label>Last Name</label>
      <input class="em-input" type="text" />
    </form>
  </div>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Badges</h2>
  <div class="em-panel">
    <p>News <span class="em-badge em-green">6</span></p>
<p>Comments <span class="em-badge em-red">8</span></p>
  </div>

  <div class="em-panel">
    <p><button class="em-btn em-black">Button
      <span class="em-badge em-margin-left em-white">1</span>
      </button></p>
      
      <p><button class="em-btn em-red">Button
      <span class="em-badge em-margin-left">2</span>
      </button></p>
  </div>

  <div class="em-panel">
    <ul class="em-ul">
      <li><span class="em-badge">1</span> Jill</li>
      <li><span class="em-badge">2</span> Eve</li>
      <li><span class="em-badge">3</span> Adam</li>
    </ul>
  </div>

  <div class="em-panel">

  <ul class="em-ul em-border">
    <li>Jill <span class="em-badge em-right em-margin-right">1</span></li>
    <li>Eve <span class="em-badge em-right em-margin-right">2</span></li>
    <li>Adam <span class="em-badge em-right em-margin-right">3</span></li>
  </ul>

  </div>

  <div class="em-panel">
    <p>
      <span class="em-badge em-tiny em-red">6</span>
      <span class="em-badge em-small em-red">6</span>
      <span class="em-badge em-red">6</span>
    </p>
    <p>
      <span class="em-badge em-large em-padding em-red">66</span>
      <span class="em-badge em-xlarge em-padding em-red">66</span>
      <span class="em-badge em-xxlarge em-padding em-red">66</span>
    </p>
    <p>
      <span class="em-badge em-xxxlarge em-padding em-red">66</span>
      <span class="em-badge em-jumbo em-padding em-red">66</span></p>
    <p>
  </div>

  <div class="em-panel">
    <div class="em-xxlarge">
      &#x2776; &#x2777; &#x2778; &#x2779; &#x277A; &#x2785; &#x2786; &#x2787; &#x2788; &#x2789;
      </div>
      
      <div class="em-xxlarge em-text-red">
      &#x2776; &#x2777; &#x2778; &#x2779; &#x277A; &#x2785; &#x2786; &#x2787; &#x2788; &#x2789;
      </div>
  </div>

</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Tags (Labels and Signs)</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Icons</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Built-In Responsiveness</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Layout</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Animations</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Effects</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Bars</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Dropdowns</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Accordions</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Navigation Bars</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Sidebar</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Navigation Tabs</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Pagination</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Progress Bars</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Slideshow</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Modal</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Tooltips</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Responsive Fluid Grid</h2>
  <p>---</p>
</div>

<div class="em-container em-margin em-light-grey em-border">
  <h2>Code</h2>
  <p>---</p>
</div>
