<p id="top">
  <span class="unit-tag unit-xxxlarge unit-blue">UNIT Components</span>
</p>

<div class="unit-panel">
  <p>
    <span class="unit-tag unit-large unit-blue">Slideshow</span>
  </p>
  <ngx-unit-image-slide-show
    [images]="['tree1.jpg', 'tree2.jpg', 'tree3.jpg']"
  ></ngx-unit-image-slide-show>
</div>

<div class="unit-panel">
  <p>
    <span class="unit-tag unit-large unit-blue">Slideshow Gallery</span>
  </p>
  <ngx-unit-image-slideshow-gallery
    [images]="['tree1.jpg', 'tree2.jpg', 'tree3.jpg']"
  ></ngx-unit-image-slideshow-gallery>
</div>

<div class="unit-panel">  
  <p>
  <span class="unit-tag unit-large unit-blue">Accordion</span>
</p>

  <ngx-unit-accordion>
    <div class="unit-container" #accordionItem item0>
      <p>1. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <!-- <div class="unit-container" #accordionItem item1>
      <p>2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="unit-container" #accordionItem item1>
      <p>3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>-->
  </ngx-unit-accordion> 


  <div class="unit-panel">
    <span class="unit-tag unit-black">Bootstrap</span>
    <ngx-unit-custom-css-classes customClasses="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3"></ngx-unit-custom-css-classes>
  </div>
  <div class="unit-panel">
    <span class="unit-tag unit-black">Tailwind</span>
    <ngx-unit-custom-css-classes customClasses="bg-blue-500 text-white p-2 rounded"></ngx-unit-custom-css-classes>
  </div>


  <div class="unit-panel">
    <p>
      <span class="unit-tag unit-large unit-blue">Image Modal</span>
    </p>
    <ngx-unit-image-modal
      imageSrc="tree1.jpg"
      imageTitle="Tree"
    ></ngx-unit-image-modal>
  </div>


  <div class="unit-panel">
    <p>
      <span class="unit-tag unit-large unit-blue">Image Light Box</span>
    </p>
    <ngx-unit-light-box></ngx-unit-light-box>
  </div>

  <div class="unit-panel">
    <p>
      <span class="unit-tag unit-large unit-blue">Responsive Image Grid</span>
    </p>
    <ngx-unit-image-responsive-grid></ngx-unit-image-responsive-grid>
  </div>

  <!-- <div class="unit-panel">
    <p>
      <span class="unit-tag unit-large unit-blue">Fullscreen Video</span>
      </p>

      <ngx-unit-video-full-screen 
        videoSrc="rain.mp4"
        videoType="video/mp4"
        videoTitle="Video Title"
        videoDescription="Video Description">
      </ngx-unit-video-full-screen>

    </div> -->

    <div class="unit-panel">
      <p>
        <span class="unit-tag unit-large unit-blue">Sticky Social Bar</span>
      </p>
      <ngx-unit-sticky-social-bar></ngx-unit-sticky-social-bar>

      </div>

</div>
