<p id="top">
  <span class="unit-tag unit-xxxlarge unit-blue">UNIT Components</span>
</p>

<div class="unit-panel">
  <p>
    <span class="unit-tag unit-large unit-blue">Slideshow</span>
  </p>
  <app-slideshow
    [images]="['tree1.jpg', 'tree2.jpg', 'tree3.jpg']"
  ></app-slideshow>
</div>

<div class="unit-panel">
  <p>
    <span class="unit-tag unit-large unit-blue">Slideshow Gallery</span>
  </p>
  <app-slideshow-gallery
    [images]="['tree1.jpg', 'tree2.jpg', 'tree3.jpg']"
  ></app-slideshow-gallery>
</div>

<div class="unit-panel">  
  <p>
  <span class="unit-tag unit-large unit-blue">Accordion</span>
</p>

  <app-accordion>
    <div class="unit-container" #accordionItem item0>
      <p>1. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <!-- <div class="unit-container" #accordionItem item1>
      <p>2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="unit-container" #accordionItem item1>
      <p>3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>-->
  </app-accordion> 


  <div class="unit-panel">
    <span class="unit-tag unit-black">Bootstrap</span>
    <app-custom-css-classes customClasses="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3"></app-custom-css-classes>
  </div>
  <div class="unit-panel">
    <span class="unit-tag unit-black">Tailwind</span>
    <app-custom-css-classes customClasses="bg-blue-500 text-white p-2 rounded"></app-custom-css-classes>
  </div>


  <div class="unit-panel">
    <p>
      <span class="unit-tag unit-large unit-blue">Image Modal</span>
    </p>
    <app-image-modal
      imageSrc="tree1.jpg"
      imageTitle="Tree"
    ></app-image-modal>
  </div>

</div>
