<p id="top">
  <span class="em-tag em-xxxlarge em-blue">UNIT Components</span>
</p>

<div class="em-panel">
  <p>
    <span class="em-tag em-large em-blue">Slideshow</span>
  </p>
  <app-slideshow
    [images]="['tree1.jpg', 'tree2.jpg', 'tree3.jpg']"
  ></app-slideshow>
</div>

<div class="em-panel">
  <p>
    <span class="em-tag em-large em-blue">Slideshow Gallery</span>
  </p>
  <app-slideshow-gallery
    [images]="['tree1.jpg', 'tree2.jpg', 'tree3.jpg']"
  ></app-slideshow-gallery>
</div>

<div class="em-panel">  <p>
  <span class="em-tag em-large em-blue">Accordion</span>
</p>

  <app-accordion>
    <div class="em-container" #accordionItem item0>
      <p>1. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <!-- <div class="em-container" #accordionItem item1>
      <p>2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="em-container" #accordionItem item1>
      <p>3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>-->
  </app-accordion> 
</div>
