<div class="container">
    <div class="slide-item"  #slideItem>
      <div class="number-text">1 / 6</div>
      <img src="tree1.jpg" style="width:100%">
    </div>
  
    <div class="slide-item"  #slideItem>
      <div class="number-text">2 / 6</div>
      <img src="tree2.jpg" style="width:100%">
    </div>
  
    <div class="slide-item"  #slideItem>
      <div class="number-text">3 / 6</div>
      <img src="tree3.jpg" style="width:100%">
    </div>
      
    <div class="slide-item" #slideItem>
      <div class="number-text">4 / 6</div>
      <img src="tree4.jpg" style="width:100%">
    </div>
  
    <div class="slide-item" #slideItem>
      <div class="number-text">5 / 6</div>
      <img src="tree5.jpg" style="width:100%">
    </div>
      
    <div class="slide-item" #slideItem>
      <div class="number-text">6 / 6</div>
      <img src="tree6.jpg" style="width:100%">
    </div>
      
    <a class="prev" (click)="plusSlides(-1)">❮</a>
    <a class="next" (click)="plusSlides(1)">❯</a>
  
    <div class="caption-container">
      <p id="caption"></p>
    </div>
  
    <div class="row">
      <div class="column">
        <img class="demo cursor" src="tree1.jpg" style="width:100%" (click)="currentSlide(1)" alt="The Woods" #dot>
      </div>
      <div class="column">
        <img class="dots cursor" src="tree2.jpg" style="width:100%" (click)="currentSlide(2)" alt="Cinque Terre" #dot>
      </div>
      <div class="column">
        <img class="dots cursor" src="tree3.jpg" style="width:100%" (click)="currentSlide(3)" alt="Mountains and fjords" #dot>
      </div>
      <div class="column">
        <img class="dots cursor" src="tree4.jpg" style="width:100%" (click)="currentSlide(4)" alt="Northern Lights" #dot>
      </div>
      <div class="column">
        <img class="dots cursor" src="tree5.jpg" style="width:100%" (click)="currentSlide(5)" alt="Nature and sunrise" #dot>
      </div>    
      <div class="column">
        <img class="dots cursor" src="tree6.jpg" style="width:100%" (click)="currentSlide(6)" alt="Snowy Mountains" #dot>
      </div>
    </div>
  </div>
